In [1]:
import requests
import pandas as pd
import csv
import datetime
import dateutil
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta, FR
import json
from pathlib import Path
from difflib import SequenceMatcher
import operator
from langdetect import detect
import re
import plotly.plotly as py
import plotly.graph_objs as go
# Scientific libraries
from numpy import arange,array,ones
from scipy import stats

key = '375a4858ec65578a421621d1f5a0cc53'

In [2]:
#save songs
def save_songs(songs):
    if songs != {}:
        with open('songs.json', 'w') as fp:
            json.dump(songs, fp)
        
def load_songs():
    #load songs
    with open('songs.json', 'r') as fp:
        songs = json.load(fp)
        
    return songs
       
#compare similarity of two strings
def similar(a, b):
    sep = "feat"
    arest = a.split(sep, 1)[0]
    brest = b.split(sep, 1)[0]
    return SequenceMatcher(None, arest, brest).ratio()

#not currently using this
def get_lang(str1, str2):
    if (type(str1) == str):     
        if (re.search('[a-zA-Z]', str1)):
            return detect(str1)
  
    return 'X'

#get language/lyric information for a single track
def get_track(song, artist):
    songs = load_songs()
    search_url = 'http://api.musixmatch.com/ws/1.1/track.search'
    params = {'q_track' : song, 'page_size' : '30', 'page' : '1', 's_track_rating' : 'desc', 'apikey': key}
    resp = requests.get(search_url, params=params)
    tracks = json.loads(resp.text)['message']['body']['track_list']

    artist_results = {}

    index = 0
    for track in tracks:
        track_id = track['track']['track_id']
        artist_results[index] = similar(track['track']['artist_name'], artist)
        index = index + 1

    sorted_index = sorted(artist_results.items(), key=operator.itemgetter(1), reverse=True)
    
    if ((len(sorted_index) > 0) and (sorted_index[0][1] > .6)):
        winningIndex = sorted_index[0][0]
        track_id = tracks[winningIndex]['track']['track_id']
        print(track_id)

        search_url = 'http://api.musixmatch.com/ws/1.1/track.lyrics.get'
        params = {'track_id' : track_id, 'apikey': key}
        resp = requests.get(search_url, params=params)

        body = json.loads(resp.text)['message']['body']
        
        if ('lyrics' in body):
            lyrics = body['lyrics']
            lyrics_body  = lyrics['lyrics_body']
            lyrics_language = lyrics['lyrics_language']

            id = (song + " by " + artist)
            song_info = {}
            song_info['song'] = song
            song_info['artist'] = artist
            song_info['lyrics_body'] = lyrics['lyrics_body'].replace('\n', ' ')[:-59]
            song_info['lyrics_language'] = lyrics['lyrics_language']
            songs[id] = song_info
        else:
            print("empty resp")
            id = (song + " by " + artist)
            song_info = {}
            song_info['song'] = song
            song_info['artist'] = artist
            song_info['lyrics_body'] = "no lyrics"
            lg = "X"
            song_info['lyrics_language'] = lg
            songs[id] = song_info
    else:
        id = (song + " by " + artist)
        song_info = {}
        song_info['song'] = song
        song_info['artist'] = artist
        song_info['lyrics_body'] = "no lyrics"
        lg = "X"
        song_info['lyrics_language'] = lg
        songs[id] = song_info
        
    save_songs(songs)
       
#go through every song in a file
def get_songs(df, fileName):
    songs = load_songs()
    languages = []
    lyrics = []
    for songTitle, artist in zip(df['Track Name'], df['Artist']):
        songTitle = str(songTitle)
        id = (songTitle + ' by ' + artist) 
        print(id)
        #if we do not alreay have the songs language and info archived, then query for it
        if id not in songs:
            get_track(songTitle, artist)
        else:
            print("already have")
        songs = load_songs()
        songInfo = songs[id]
        lyrics.append(songInfo['lyrics_body'])
        languages.append(songInfo['lyrics_language'])
        
    #add new info to dataframe
    df['language'] = languages
    df['lyrics'] = lyrics
    
    df.to_csv(fileName)
    
#create urls and download files for a country and the last x weeks
def download_charts(country, weeks):
    
    #find last fridays date
    last_friday = datetime.now() + relativedelta(weekday=FR(-1))

    if (datetime.now().strftime('%Y-%m-%d') == last_friday.strftime('%Y-%m-%d')):
        last_friday = datetime.now() + relativedelta(weekday=FR(-1))

    files = []
    urls = []
    newer_date = last_friday - timedelta(days=7)
    
    #create uls by counting back a friday at a time
    for i in range(weeks):
        older_date = newer_date - timedelta(days=7)
        newer_str = newer_date.strftime('%Y-%m-%d')
        older_str = older_date.strftime('%Y-%m-%d')
        newer_date = older_date
        url = 'https://spotifycharts.com/regional/' + country + '/weekly/' + older_str + '--' + newer_str + '/download'
        file_name = country + "_" + older_str + '--' + newer_str + '.csv'
#         print(url)
#         print(file_name)
        urls.append(url)
        files.append(file_name)
        
    #if we do not already have the file download it
    for file, url in zip(files,urls):
        my_file = Path(file)
        if not my_file.is_file():
            resp = requests.get(url)
            with open(file, 'w') as f:
                writer = csv.writer(f)
                reader = csv.reader(resp.text.splitlines())

                for row in reader:
                    writer.writerow(row)
                
    return files

#take file and add language/lyric info if needed
def add_language(files):

    for file in files:
        
        #load and reformat this file
        df = pd.read_csv(file,skiprows=[0])
        if (list(df) != ['Position', 'Track Name', 'Artist', 'Streams', 'URL']):
            df = pd.read_csv(file,skiprows=[])
            if 'Unnamed: 0' in list(df):
                df = df.drop('Unnamed: 0', axis=1)


        df.Artist = df.Artist.astype(str)
        
        #use api and add language/lyrics only if you do not already have them
        if ('language' not in list(df)):
            get_songs(df, file) 
            songs = load_songs()
            print(len(songs))
        
def get_data(country, weeks):
       
    #download chart files
    files = download_charts(country, weeks)   
    
    #add language information to files
    add_language(files)

    #analyze language for every week
    country = []
    week = []
    english_percent = []
    spanish_percent = []

    for file in files:
        df = pd.read_csv(file,skiprows=[0])
        if (list(df) != ['Position', 'Track Name', 'Artist', 'Streams', 'URL']):
            df = pd.read_csv(file,skiprows=[])
            if 'Unnamed: 0' in list(df):
                df = df.drop('Unnamed: 0', axis=1)


        df.Artist = df.Artist.astype(str)
        lang = {}
        for l in df['language']:
            if l in lang:
                lang[l] = lang[l] + 1
            else:
                lang[l] = 1

        eng = 0
        if "en" in lang:
            eng = lang['en']

        esp = 0
        if "es" in lang:
            esp = lang['es']

        total = eng + esp
        english_percent.append(round((eng/total),2))
        spanish_percent.append(round((esp/total),2))
        country.append(file[0:2])
        week.append(file[3:25])

    data = pd.DataFrame(
            {'country': country,
             'week': week,
             "english_percent": english_percent,
             "spanish_percent": spanish_percent
            })
    
    return data

In [3]:
us = get_data('us', 52)
us.sort_values(by=['week'], ascending=False)
us.head(52)

   country  english_percent  spanish_percent                    week
0       us             0.97             0.03  2018-07-20--2018-07-27
1       us             0.98             0.02  2018-07-13--2018-07-20
2       us             0.97             0.03  2018-07-06--2018-07-13
3       us             0.98             0.02  2018-06-29--2018-07-06
4       us             0.99             0.01  2018-06-22--2018-06-29
5       us             0.99             0.01  2018-06-15--2018-06-22
6       us             0.99             0.01  2018-06-08--2018-06-15
7       us             0.99             0.01  2018-06-01--2018-06-08
8       us             0.99             0.01  2018-05-25--2018-06-01
9       us             0.99             0.01  2018-05-18--2018-05-25
10      us             0.99             0.01  2018-05-11--2018-05-18
11      us             0.99             0.01  2018-05-04--2018-05-11
12      us             0.99             0.01  2018-04-27--2018-05-04
13      us             0.98             0.02  2018-04-20--2018-04-27
14      us             0.98             0.02  2018-04-13--2018-04-20
15      us             0.99             0.01  2018-04-06--2018-04-13
16      us             0.98             0.02  2018-03-30--2018-04-06
17      us             0.98             0.02  2018-03-23--2018-03-30
18      us             0.99             0.01  2018-03-16--2018-03-23
19      us             0.98             0.02  2018-03-09--2018-03-16
20      us             0.97             0.03  2018-03-02--2018-03-09
21      us             0.97             0.03  2018-02-23--2018-03-02
22      us             0.98             0.02  2018-02-16--2018-02-23
23      us             0.97             0.03  2018-02-09--2018-02-16
24      us             0.97             0.03  2018-02-02--2018-02-09
25      us             0.98             0.02  2018-01-26--2018-02-02
26      us             0.96             0.04  2018-01-19--2018-01-26
27      us             0.96             0.04  2018-01-12--2018-01-19
28      us             0.96             0.04  2018-01-05--2018-01-12
29      us             0.96             0.04  2017-12-29--2018-01-05
30      us             0.97             0.03  2017-12-22--2017-12-29
31      us             0.98             0.02  2017-12-15--2017-12-22
32      us             0.98             0.02  2017-12-08--2017-12-15
33      us             0.97             0.03  2017-12-01--2017-12-08
34      us             0.97             0.03  2017-11-24--2017-12-01
35      us             0.98             0.02  2017-11-17--2017-11-24
36      us             0.98             0.02  2017-11-10--2017-11-17
37      us             0.98             0.02  2017-11-03--2017-11-10
38      us             0.98             0.02  2017-10-27--2017-11-03
39      us             0.98             0.02  2017-10-20--2017-10-27
40      us             0.97             0.03  2017-10-13--2017-10-20
41      us             0.98             0.02  2017-10-06--2017-10-13
42      us             0.98             0.02  2017-09-29--2017-10-06
43      us             0.97             0.03  2017-09-22--2017-09-29
44      us             0.97             0.03  2017-09-15--2017-09-22
45      us             0.97             0.03  2017-09-08--2017-09-15
46      us             0.97             0.03  2017-09-01--2017-09-08
47      us             0.97             0.03  2017-08-25--2017-09-01
48      us             0.98             0.02  2017-08-18--2017-08-25
49      us             0.98             0.02  2017-08-11--2017-08-18
50      us             0.97             0.03  2017-08-04--2017-08-11
51      us             0.97             0.03  2017-07-28--2017-08-04

In [4]:
do = get_data('do', 52)
do.sort_values(by=['week'], ascending=False)
do.head(52)

   country  english_percent  spanish_percent                    week
0       do             0.22             0.78  2018-07-20--2018-07-27
1       do             0.21             0.79  2018-07-13--2018-07-20
2       do             0.23             0.77  2018-07-06--2018-07-13
3       do             0.31             0.69  2018-06-29--2018-07-06
4       do             0.29             0.71  2018-06-22--2018-06-29
5       do             0.28             0.72  2018-06-15--2018-06-22
6       do             0.24             0.76  2018-06-08--2018-06-15
7       do             0.28             0.72  2018-06-01--2018-06-08
8       do             0.22             0.78  2018-05-25--2018-06-01
9       do             0.22             0.78  2018-05-18--2018-05-25
10      do             0.21             0.79  2018-05-11--2018-05-18
11      do             0.23             0.77  2018-05-04--2018-05-11
12      do             0.26             0.74  2018-04-27--2018-05-04
13      do             0.33             0.68  2018-04-20--2018-04-27
14      do             0.28             0.72  2018-04-13--2018-04-20
15      do             0.31             0.69  2018-04-06--2018-04-13
16      do             0.29             0.71  2018-03-30--2018-04-06
17      do             0.27             0.73  2018-03-23--2018-03-30
18      do             0.26             0.74  2018-03-16--2018-03-23
19      do             0.29             0.71  2018-03-09--2018-03-16
20      do             0.31             0.69  2018-03-02--2018-03-09
21      do             0.31             0.69  2018-02-23--2018-03-02
22      do             0.32             0.68  2018-02-16--2018-02-23
23      do             0.32             0.68  2018-02-09--2018-02-16
24      do             0.34             0.66  2018-02-02--2018-02-09
25      do             0.35             0.65  2018-01-26--2018-02-02
26      do             0.36             0.64  2018-01-19--2018-01-26
27      do             0.37             0.63  2018-01-12--2018-01-19
28      do             0.35             0.65  2018-01-05--2018-01-12
29      do             0.29             0.71  2017-12-29--2018-01-05
30      do             0.27             0.73  2017-12-22--2017-12-29
31      do             0.31             0.69  2017-12-15--2017-12-22
32      do             0.33             0.67  2017-12-08--2017-12-15
33      do             0.35             0.65  2017-12-01--2017-12-08
34      do             0.34             0.66  2017-11-24--2017-12-01
35      do             0.34             0.66  2017-11-17--2017-11-24
36      do             0.38             0.62  2017-11-10--2017-11-17
37      do             0.36             0.64  2017-11-03--2017-11-10
38      do             0.40             0.60  2017-10-27--2017-11-03
39      do             0.39             0.61  2017-10-20--2017-10-27
40      do             0.41             0.59  2017-10-13--2017-10-20
41      do             0.40             0.60  2017-10-06--2017-10-13
42      do             0.41             0.59  2017-09-29--2017-10-06
43      do             0.41             0.59  2017-09-22--2017-09-29
44      do             0.42             0.58  2017-09-15--2017-09-22
45      do             0.42             0.58  2017-09-08--2017-09-15
46      do             0.43             0.57  2017-09-01--2017-09-08
47      do             0.41             0.59  2017-08-25--2017-09-01
48      do             0.42             0.58  2017-08-18--2017-08-25
49      do             0.41             0.59  2017-08-11--2017-08-18
50      do             0.44             0.56  2017-08-04--2017-08-11
51      do             0.43             0.57  2017-07-28--2017-08-04

In [5]:
mx = get_data('mx', 52)
mx.sort_values(by=['week'], ascending=False)
mx.head(52)

   country  english_percent  spanish_percent                    week
0       mx             0.25             0.75  2018-07-20--2018-07-27
1       mx             0.22             0.78  2018-07-13--2018-07-20
2       mx             0.21             0.79  2018-07-06--2018-07-13
3       mx             0.27             0.73  2018-06-29--2018-07-06
4       mx             0.26             0.74  2018-06-22--2018-06-29
5       mx             0.26             0.74  2018-06-15--2018-06-22
6       mx             0.24             0.76  2018-06-08--2018-06-15
7       mx             0.26             0.74  2018-06-01--2018-06-08
8       mx             0.27             0.73  2018-05-25--2018-06-01
9       mx             0.26             0.74  2018-05-18--2018-05-25
10      mx             0.27             0.73  2018-05-11--2018-05-18
11      mx             0.27             0.73  2018-05-04--2018-05-11
12      mx             0.31             0.69  2018-04-27--2018-05-04
13      mx             0.33             0.67  2018-04-20--2018-04-27
14      mx             0.31             0.69  2018-04-13--2018-04-20
15      mx             0.35             0.65  2018-04-06--2018-04-13
16      mx             0.35             0.65  2018-03-30--2018-04-06
17      mx             0.31             0.69  2018-03-23--2018-03-30
18      mx             0.33             0.67  2018-03-16--2018-03-23
19      mx             0.34             0.66  2018-03-09--2018-03-16
20      mx             0.34             0.66  2018-03-02--2018-03-09
21      mx             0.36             0.64  2018-02-23--2018-03-02
22      mx             0.36             0.64  2018-02-16--2018-02-23
23      mx             0.38             0.62  2018-02-09--2018-02-16
24      mx             0.38             0.62  2018-02-02--2018-02-09
25      mx             0.38             0.62  2018-01-26--2018-02-02
26      mx             0.40             0.60  2018-01-19--2018-01-26
27      mx             0.40             0.60  2018-01-12--2018-01-19
28      mx             0.39             0.61  2018-01-05--2018-01-12
29      mx             0.36             0.64  2017-12-29--2018-01-05
30      mx             0.33             0.67  2017-12-22--2017-12-29
31      mx             0.36             0.64  2017-12-15--2017-12-22
32      mx             0.34             0.66  2017-12-08--2017-12-15
33      mx             0.38             0.62  2017-12-01--2017-12-08
34      mx             0.36             0.64  2017-11-24--2017-12-01
35      mx             0.36             0.64  2017-11-17--2017-11-24
36      mx             0.34             0.66  2017-11-10--2017-11-17
37      mx             0.37             0.63  2017-11-03--2017-11-10
38      mx             0.38             0.62  2017-10-27--2017-11-03
39      mx             0.38             0.62  2017-10-20--2017-10-27
40      mx             0.38             0.62  2017-10-13--2017-10-20
41      mx             0.40             0.60  2017-10-06--2017-10-13
42      mx             0.41             0.59  2017-09-29--2017-10-06
43      mx             0.40             0.60  2017-09-22--2017-09-29
44      mx             0.38             0.62  2017-09-15--2017-09-22
45      mx             0.41             0.59  2017-09-08--2017-09-15
46      mx             0.43             0.57  2017-09-01--2017-09-08
47      mx             0.41             0.59  2017-08-25--2017-09-01
48      mx             0.41             0.59  2017-08-18--2017-08-25
49      mx             0.40             0.60  2017-08-11--2017-08-18
50      mx             0.41             0.59  2017-08-04--2017-08-11
51      mx             0.41             0.59  2017-07-28--2017-08-04

In [6]:
mx = get_data('cr', 52)
mx.sort_values(by=['week'], ascending=False)
mx.head(52)

   country  english_percent  spanish_percent                    week
0       cr             0.38             0.62  2018-07-20--2018-07-27
1       cr             0.41             0.59  2018-07-13--2018-07-20
2       cr             0.38             0.62  2018-07-06--2018-07-13
3       cr             0.37             0.63  2018-06-29--2018-07-06
4       cr             0.40             0.60  2018-06-22--2018-06-29
5       cr             0.42             0.58  2018-06-15--2018-06-22
6       cr             0.40             0.60  2018-06-08--2018-06-15
7       cr             0.42             0.58  2018-06-01--2018-06-08
8       cr             0.40             0.60  2018-05-25--2018-06-01
9       cr             0.39             0.61  2018-05-18--2018-05-25
10      cr             0.41             0.59  2018-05-11--2018-05-18
11      cr             0.40             0.60  2018-05-04--2018-05-11
12      cr             0.43             0.57  2018-04-27--2018-05-04
13      cr             0.46             0.54  2018-04-20--2018-04-27
14      cr             0.45             0.55  2018-04-13--2018-04-20
15      cr             0.44             0.56  2018-04-06--2018-04-13
16      cr             0.46             0.54  2018-03-30--2018-04-06
17      cr             0.41             0.59  2018-03-23--2018-03-30
18      cr             0.43             0.57  2018-03-16--2018-03-23
19      cr             0.45             0.55  2018-03-09--2018-03-16
20      cr             0.45             0.55  2018-03-02--2018-03-09
21      cr             0.46             0.54  2018-02-23--2018-03-02
22      cr             0.46             0.54  2018-02-16--2018-02-23
23      cr             0.48             0.52  2018-02-09--2018-02-16
24      cr             0.48             0.52  2018-02-02--2018-02-09
25      cr             0.47             0.53  2018-01-26--2018-02-02
26      cr             0.49             0.51  2018-01-19--2018-01-26
27      cr             0.51             0.49  2018-01-12--2018-01-19
28      cr             0.51             0.49  2018-01-05--2018-01-12
29      cr             0.50             0.50  2017-12-29--2018-01-05
30      cr             0.48             0.52  2017-12-22--2017-12-29
31      cr             0.50             0.50  2017-12-15--2017-12-22
32      cr             0.54             0.46  2017-12-08--2017-12-15
33      cr             0.53             0.47  2017-12-01--2017-12-08
34      cr             0.52             0.48  2017-11-24--2017-12-01
35      cr             0.52             0.48  2017-11-17--2017-11-24
36      cr             0.52             0.48  2017-11-10--2017-11-17
37      cr             0.52             0.48  2017-11-03--2017-11-10
38      cr             0.52             0.48  2017-10-27--2017-11-03
39      cr             0.53             0.47  2017-10-20--2017-10-27
40      cr             0.55             0.45  2017-10-13--2017-10-20
41      cr             0.54             0.46  2017-10-06--2017-10-13
42      cr             0.55             0.45  2017-09-29--2017-10-06
43      cr             0.56             0.44  2017-09-22--2017-09-29
44      cr             0.56             0.44  2017-09-15--2017-09-22
45      cr             0.55             0.45  2017-09-08--2017-09-15
46      cr             0.56             0.44  2017-09-01--2017-09-08
47      cr             0.57             0.43  2017-08-25--2017-09-01
48      cr             0.55             0.45  2017-08-18--2017-08-25
49      cr             0.56             0.44  2017-08-11--2017-08-18
50      cr             0.57             0.43  2017-08-04--2017-08-11
51      cr             0.57             0.43  2017-07-28--2017-08-04

In [7]:
ar = get_data('ar', 52)
ar.sort_values(by=['week'], ascending=False)
ar.head(52)

   country  english_percent  spanish_percent                    week
0       ar             0.18             0.82  2018-07-20--2018-07-27
1       ar             0.20             0.80  2018-07-13--2018-07-20
2       ar             0.17             0.83  2018-07-06--2018-07-13
3       ar             0.18             0.82  2018-06-29--2018-07-06
4       ar             0.20             0.80  2018-06-22--2018-06-29
5       ar             0.18             0.82  2018-06-15--2018-06-22
6       ar             0.13             0.87  2018-06-08--2018-06-15
7       ar             0.15             0.85  2018-06-01--2018-06-08
8       ar             0.15             0.85  2018-05-25--2018-06-01
9       ar             0.14             0.86  2018-05-18--2018-05-25
10      ar             0.22             0.78  2018-05-11--2018-05-18
11      ar             0.18             0.82  2018-05-04--2018-05-11
12      ar             0.18             0.82  2018-04-27--2018-05-04
13      ar             0.24             0.76  2018-04-20--2018-04-27
14      ar             0.22             0.78  2018-04-13--2018-04-20
15      ar             0.21             0.79  2018-04-06--2018-04-13
16      ar             0.22             0.78  2018-03-30--2018-04-06
17      ar             0.20             0.80  2018-03-23--2018-03-30
18      ar             0.23             0.77  2018-03-16--2018-03-23
19      ar             0.20             0.80  2018-03-09--2018-03-16
20      ar             0.19             0.81  2018-03-02--2018-03-09
21      ar             0.20             0.80  2018-02-23--2018-03-02
22      ar             0.20             0.80  2018-02-16--2018-02-23
23      ar             0.19             0.81  2018-02-09--2018-02-16
24      ar             0.20             0.80  2018-02-02--2018-02-09
25      ar             0.20             0.80  2018-01-26--2018-02-02
26      ar             0.21             0.79  2018-01-19--2018-01-26
27      ar             0.24             0.76  2018-01-12--2018-01-19
28      ar             0.22             0.78  2018-01-05--2018-01-12
29      ar             0.20             0.80  2017-12-29--2018-01-05
30      ar             0.20             0.80  2017-12-22--2017-12-29
31      ar             0.23             0.77  2017-12-15--2017-12-22
32      ar             0.25             0.75  2017-12-08--2017-12-15
33      ar             0.24             0.76  2017-12-01--2017-12-08
34      ar             0.25             0.75  2017-11-24--2017-12-01
35      ar             0.29             0.71  2017-11-17--2017-11-24
36      ar             0.28             0.72  2017-11-10--2017-11-17
37      ar             0.23             0.77  2017-11-03--2017-11-10
38      ar             0.24             0.76  2017-10-27--2017-11-03
39      ar             0.24             0.76  2017-10-20--2017-10-27
40      ar             0.24             0.76  2017-10-13--2017-10-20
41      ar             0.24             0.76  2017-10-06--2017-10-13
42      ar             0.23             0.77  2017-09-29--2017-10-06
43      ar             0.24             0.76  2017-09-22--2017-09-29
44      ar             0.25             0.75  2017-09-15--2017-09-22
45      ar             0.26             0.74  2017-09-08--2017-09-15
46      ar             0.27             0.73  2017-09-01--2017-09-08
47      ar             0.27             0.73  2017-08-25--2017-09-01
48      ar             0.28             0.72  2017-08-18--2017-08-25
49      ar             0.29             0.71  2017-08-11--2017-08-18
50      ar             0.31             0.69  2017-08-04--2017-08-11
51      ar             0.32             0.68  2017-07-28--2017-08-04

In [8]:
gt = get_data('gt', 52)
gt.sort_values(by=['week'], ascending=False)
gt.head(52)

   country  english_percent  spanish_percent                    week
0       gt             0.26             0.74  2018-07-20--2018-07-27
1       gt             0.29             0.71  2018-07-13--2018-07-20
2       gt             0.31             0.69  2018-07-06--2018-07-13
3       gt             0.29             0.71  2018-06-29--2018-07-06
4       gt             0.28             0.72  2018-06-22--2018-06-29
5       gt             0.30             0.70  2018-06-15--2018-06-22
6       gt             0.28             0.72  2018-06-08--2018-06-15
7       gt             0.29             0.71  2018-06-01--2018-06-08
8       gt             0.27             0.73  2018-05-25--2018-06-01
9       gt             0.26             0.74  2018-05-18--2018-05-25
10      gt             0.28             0.72  2018-05-11--2018-05-18
11      gt             0.30             0.70  2018-05-04--2018-05-11
12      gt             0.34             0.66  2018-04-27--2018-05-04
13      gt             0.34             0.66  2018-04-20--2018-04-27
14      gt             0.32             0.68  2018-04-13--2018-04-20
15      gt             0.32             0.68  2018-04-06--2018-04-13
16      gt             0.35             0.65  2018-03-30--2018-04-06
17      gt             0.29             0.71  2018-03-23--2018-03-30
18      gt             0.31             0.69  2018-03-16--2018-03-23
19      gt             0.31             0.69  2018-03-09--2018-03-16
20      gt             0.31             0.69  2018-03-02--2018-03-09
21      gt             0.29             0.71  2018-02-23--2018-03-02
22      gt             0.31             0.69  2018-02-16--2018-02-23
23      gt             0.34             0.66  2018-02-09--2018-02-16
24      gt             0.36             0.64  2018-02-02--2018-02-09
25      gt             0.36             0.64  2018-01-26--2018-02-02
26      gt             0.37             0.63  2018-01-19--2018-01-26
27      gt             0.39             0.61  2018-01-12--2018-01-19
28      gt             0.39             0.61  2018-01-05--2018-01-12
29      gt             0.38             0.62  2017-12-29--2018-01-05
30      gt             0.34             0.66  2017-12-22--2017-12-29
31      gt             0.34             0.66  2017-12-15--2017-12-22
32      gt             0.36             0.64  2017-12-08--2017-12-15
33      gt             0.37             0.63  2017-12-01--2017-12-08
34      gt             0.36             0.64  2017-11-24--2017-12-01
35      gt             0.39             0.61  2017-11-17--2017-11-24
36      gt             0.38             0.62  2017-11-10--2017-11-17
37      gt             0.39             0.61  2017-11-03--2017-11-10
38      gt             0.39             0.61  2017-10-27--2017-11-03
39      gt             0.41             0.59  2017-10-20--2017-10-27
40      gt             0.42             0.58  2017-10-13--2017-10-20
41      gt             0.40             0.60  2017-10-06--2017-10-13
42      gt             0.42             0.58  2017-09-29--2017-10-06
43      gt             0.44             0.56  2017-09-22--2017-09-29
44      gt             0.43             0.57  2017-09-15--2017-09-22
45      gt             0.44             0.56  2017-09-08--2017-09-15
46      gt             0.43             0.57  2017-09-01--2017-09-08
47      gt             0.41             0.59  2017-08-25--2017-09-01
48      gt             0.41             0.59  2017-08-18--2017-08-25
49      gt             0.43             0.57  2017-08-11--2017-08-18
50      gt             0.45             0.55  2017-08-04--2017-08-11
51      gt             0.46             0.54  2017-07-28--2017-08-04

In [9]:
co = get_data('co', 52)
co.sort_values(by=['week'], ascending=False)
co.head(52)

   country  english_percent  spanish_percent                    week
0       co             0.25             0.75  2018-07-20--2018-07-27
1       co             0.26             0.74  2018-07-13--2018-07-20
2       co             0.24             0.76  2018-07-06--2018-07-13
3       co             0.23             0.77  2018-06-29--2018-07-06
4       co             0.23             0.77  2018-06-22--2018-06-29
5       co             0.24             0.76  2018-06-15--2018-06-22
6       co             0.20             0.80  2018-06-08--2018-06-15
7       co             0.20             0.80  2018-06-01--2018-06-08
8       co             0.23             0.77  2018-05-25--2018-06-01
9       co             0.25             0.75  2018-05-18--2018-05-25
10      co             0.24             0.76  2018-05-11--2018-05-18
11      co             0.26             0.74  2018-05-04--2018-05-11
12      co             0.30             0.70  2018-04-27--2018-05-04
13      co             0.32             0.68  2018-04-20--2018-04-27
14      co             0.30             0.70  2018-04-13--2018-04-20
15      co             0.32             0.68  2018-04-06--2018-04-13
16      co             0.34             0.66  2018-03-30--2018-04-06
17      co             0.32             0.68  2018-03-23--2018-03-30
18      co             0.31             0.69  2018-03-16--2018-03-23
19      co             0.33             0.67  2018-03-09--2018-03-16
20      co             0.33             0.67  2018-03-02--2018-03-09
21      co             0.34             0.66  2018-02-23--2018-03-02
22      co             0.34             0.66  2018-02-16--2018-02-23
23      co             0.35             0.65  2018-02-09--2018-02-16
24      co             0.37             0.63  2018-02-02--2018-02-09
25      co             0.36             0.64  2018-01-26--2018-02-02
26      co             0.36             0.64  2018-01-19--2018-01-26
27      co             0.39             0.61  2018-01-12--2018-01-19
28      co             0.34             0.66  2018-01-05--2018-01-12
29      co             0.31             0.69  2017-12-29--2018-01-05
30      co             0.29             0.71  2017-12-22--2017-12-29
31      co             0.34             0.66  2017-12-15--2017-12-22
32      co             0.35             0.65  2017-12-08--2017-12-15
33      co             0.37             0.63  2017-12-01--2017-12-08
34      co             0.36             0.64  2017-11-24--2017-12-01
35      co             0.36             0.64  2017-11-17--2017-11-24
36      co             0.34             0.66  2017-11-10--2017-11-17
37      co             0.37             0.63  2017-11-03--2017-11-10
38      co             0.39             0.61  2017-10-27--2017-11-03
39      co             0.42             0.58  2017-10-20--2017-10-27
40      co             0.40             0.60  2017-10-13--2017-10-20
41      co             0.41             0.59  2017-10-06--2017-10-13
42      co             0.44             0.56  2017-09-29--2017-10-06
43      co             0.43             0.57  2017-09-22--2017-09-29
44      co             0.45             0.55  2017-09-15--2017-09-22
45      co             0.45             0.55  2017-09-08--2017-09-15
46      co             0.43             0.57  2017-09-01--2017-09-08
47      co             0.45             0.55  2017-08-25--2017-09-01
48      co             0.44             0.56  2017-08-18--2017-08-25
49      co             0.46             0.54  2017-08-11--2017-08-18
50      co             0.44             0.56  2017-08-04--2017-08-11
51      co             0.45             0.55  2017-07-28--2017-08-04

In [10]:
glbl = get_data('global', 52)
glbl.sort_values(by=['week'], ascending=False)
glbl.head(52)

   country  english_percent  spanish_percent                    week
0       gl             0.81             0.19  bal_2018-07-20--2018-0
1       gl             0.83             0.17  bal_2018-07-13--2018-0
2       gl             0.83             0.17  bal_2018-07-06--2018-0
3       gl             0.83             0.17  bal_2018-06-29--2018-0
4       gl             0.85             0.15  bal_2018-06-22--2018-0
5       gl             0.85             0.15  bal_2018-06-15--2018-0
6       gl             0.84             0.16  bal_2018-06-08--2018-0
7       gl             0.83             0.17  bal_2018-06-01--2018-0
8       gl             0.85             0.15  bal_2018-05-25--2018-0
9       gl             0.84             0.16  bal_2018-05-18--2018-0
10      gl             0.85             0.15  bal_2018-05-11--2018-0
11      gl             0.85             0.15  bal_2018-05-04--2018-0
12      gl             0.86             0.14  bal_2018-04-27--2018-0
13      gl             0.87             0.13  bal_2018-04-20--2018-0
14      gl             0.85             0.15  bal_2018-04-13--2018-0
15      gl             0.83             0.17  bal_2018-04-06--2018-0
16      gl             0.83             0.17  bal_2018-03-30--2018-0
17      gl             0.82             0.18  bal_2018-03-23--2018-0
18      gl             0.83             0.17  bal_2018-03-16--2018-0
19      gl             0.83             0.17  bal_2018-03-09--2018-0
20      gl             0.82             0.18  bal_2018-03-02--2018-0
21      gl             0.82             0.18  bal_2018-02-23--2018-0
22      gl             0.83             0.17  bal_2018-02-16--2018-0
23      gl             0.84             0.16  bal_2018-02-09--2018-0
24      gl             0.83             0.17  bal_2018-02-02--2018-0
25      gl             0.83             0.17  bal_2018-01-26--2018-0
26      gl             0.83             0.17  bal_2018-01-19--2018-0
27      gl             0.85             0.15  bal_2018-01-12--2018-0
28      gl             0.83             0.17  bal_2018-01-05--2018-0
29      gl             0.82             0.18  bal_2017-12-29--2018-0
30      gl             0.85             0.15  bal_2017-12-22--2017-1
31      gl             0.85             0.15  bal_2017-12-15--2017-1
32      gl             0.86             0.14  bal_2017-12-08--2017-1
33      gl             0.85             0.15  bal_2017-12-01--2017-1
34      gl             0.83             0.17  bal_2017-11-24--2017-1
35      gl             0.84             0.16  bal_2017-11-17--2017-1
36      gl             0.84             0.16  bal_2017-11-10--2017-1
37      gl             0.85             0.15  bal_2017-11-03--2017-1
38      gl             0.84             0.16  bal_2017-10-27--2017-1
39      gl             0.84             0.16  bal_2017-10-20--2017-1
40      gl             0.83             0.17  bal_2017-10-13--2017-1
41      gl             0.83             0.17  bal_2017-10-06--2017-1
42      gl             0.82             0.18  bal_2017-09-29--2017-1
43      gl             0.82             0.18  bal_2017-09-22--2017-0
44      gl             0.82             0.18  bal_2017-09-15--2017-0
45      gl             0.84             0.16  bal_2017-09-08--2017-0
46      gl             0.82             0.18  bal_2017-09-01--2017-0
47      gl             0.83             0.17  bal_2017-08-25--2017-0
48      gl             0.82             0.18  bal_2017-08-18--2017-0
49      gl             0.83             0.17  bal_2017-08-11--2017-0
50      gl             0.82             0.18  bal_2017-08-04--2017-0
51      gl             0.83             0.17  bal_2017-07-28--2017-0

In [11]:
import pandas as pd

def get_all_data(countries):
    #find last fridays date
    last_friday = datetime.now() + relativedelta(weekday=FR(-1))

    if (datetime.now().strftime('%Y-%m-%d') == last_friday.strftime('%Y-%m-%d')):
        last_friday = datetime.now() + relativedelta(weekday=FR(-1))

    all_pds = []
    files = []
    urls = []
    country = []
    week = []
    newer_date = last_friday - timedelta(days=7)

    #create uls by counting back a friday at a time
    for i in range(52):
        dfs = []
        first = True
        older_date = newer_date - timedelta(days=7)
        newer_str = newer_date.strftime('%Y-%m-%d')
        older_str = older_date.strftime('%Y-%m-%d')
        newer_date = older_date
        for c in countries:
            file_name = c + "_" + older_str + '--' + newer_str + '.csv'
            df = pd.read_csv(file_name,skiprows=[0])
            if (list(df) != ['Position', 'Track Name', 'Artist', 'Streams', 'URL']):
                df = pd.read_csv(file_name,skiprows=[])
                if 'Unnamed: 0' in list(df):
                    df = df.drop('Unnamed: 0', axis=1)


            df.Artist = df.Artist.astype(str)
            dfs.append(df)
            if first:
                first = False
                country.append("all")
                week.append(file_name[3:25])
        whole=pd.concat(dfs)   
        all_pds.append(whole)  

    #analyze language for every week
    english_percent = []
    spanish_percent = []

    for df in all_pds:
        if (list(df) != ['Position', 'Track Name', 'Artist', 'Streams', 'URL']):
            if 'Unnamed: 0' in list(df):
                df = df.drop('Unnamed: 0', axis=1)

        lang = {}
        for l in df['language']:
            if l in lang:
                lang[l] = lang[l] + 1
            else:
                lang[l] = 1

        eng = 0
        if "en" in lang:
            eng = lang['en']

        esp = 0
        if "es" in lang:
            esp = lang['es']

        total = eng + esp
        english_percent.append(round((eng/total),2))
        spanish_percent.append(round((esp/total),2))

    data = pd.DataFrame(
            {'country': country,
             'week': week,
             "english_percent": english_percent,
             "spanish_percent": spanish_percent
            })
    
    return data

In [12]:
all_countries = get_all_data(["mx","gt","ar","do", "co"])
all_countries.head(52)
all_countries.to_csv("all_countries.csv")

In [13]:
# Create a trace
trace = go.Scatter(
    x = us['week'],
    y = us['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys US weekly top 200 Chart',
              xaxis = dict(title = 'Week', autorange='reversed'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jgluck321/0 or inside your plot.ly account where it is named 'basic-line'

In [14]:
# Create a trace
trace = go.Scatter(
    x = do['week'],
    y = do['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys Dominican Republic weekly top 200 Chart',
              xaxis = dict(title = 'Week', autorange='reversed'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jgluck321/0 or inside your plot.ly account where it is named 'basic-line'

In [15]:
# Create a trace
trace = go.Scatter(
    x = co['week'],
    y = co['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys Colombia weekly top 200 Chart',
              xaxis = dict(title = 'Week', autorange='reversed'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jgluck321/0 or inside your plot.ly account where it is named 'basic-line'

In [16]:
# Create a trace
trace = go.Scatter(
    x = mx['week'],
    y = mx['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys Mexico weekly top 200 Chart',
              xaxis = dict(title = 'Week', autorange='reversed'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jgluck321/0 or inside your plot.ly account where it is named 'basic-line'

In [17]:
# Create a trace
trace = go.Scatter(
    x = ar['week'],
    y = ar['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys Argentina weekly top 200 Chart',
              xaxis = dict(title = 'Week', autorange='reversed'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jgluck321/0 or inside your plot.ly account where it is named 'basic-line'

In [18]:
# Create a trace
trace = go.Scatter(
    x = gt['week'],
    y = gt['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys Guatemala weekly top 200 Chart',
              xaxis = dict(title = 'Week', autorange='reversed'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jgluck321/0 or inside your plot.ly account where it is named 'basic-line'

In [19]:
# Create a trace
trace = go.Scatter(
    x = glbl['week'],
    y = glbl['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys Global weekly top 200 Chart',
              xaxis = dict(title = 'Week', autorange='reversed'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jgluck321/0 or inside your plot.ly account where it is named 'basic-line'

In [20]:
# Create a trace
trace = go.Scatter(
    x = all_countries['week'],
    y = all_countries['spanish_percent'],
    name='Spanish Percent',
)

xi = arange(0,len(all_countries))

# Generated linear fit
slope, intercept, r_value, p_value, std_err = stats.linregress(xi,all_countries['spanish_percent'])
line = slope*xi+intercept

trace2 = go.Scatter(
                  x=all_countries['week'],
                  y=line,
                  mode='lines',
                  marker=go.Marker(color='rgb(31, 119, 180)'),
                  name='Fit',
                  line = dict(
                    color = ('rgb(205, 12, 24)'),
                    width = 2)
                  )

data = [trace, trace2]

layout = dict(title = 'Percent of Spanish songs in Spotifys Combined Spanish Speaking Countries weekly top 200 Chart',
              xaxis = dict(title = '', autorange='reversed'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

/Users/jgluck/anaconda3/lib/python3.6/site-packages/plotly/graph_objs/_deprecations.py:426: DeprecationWarning:

plotly.graph_objs.Marker is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.scatter.Marker
  - plotly.graph_objs.histogram.selected.Marker
  - etc.

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jgluck321/0 or inside your plot.ly account where it is named 'basic-line'