In [1]:
import requests
import pandas as pd
import csv
import datetime
import dateutil
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta, FR
import json
from pathlib import Path
from difflib import SequenceMatcher
import operator
import re
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
# Scientific libraries
from numpy import arange,array,ones
from scipy import stats
import spacy
from spacy_langdetect import LanguageDetector
nlp = spacy.load('en')
nlp.add_pipe(LanguageDetector(), name='language_detector', last=True)
with open('keys.json', 'r') as fp:
    our_keys = json.load(fp)
key = our_keys["musixmatch_key"]
plotly_key = our_keys["plotly_key"]
plotly.tools.set_credentials_file(username='jagluck', api_key=plotly_key)

In [2]:
#save songs
def save_songs(songs):
    if songs != {}:
        with open('data/songs.json', 'w') as fp:
            json.dump(songs, fp)
        
def load_songs():
    #load songs
    with open('data/songs.json', 'r') as fp:
        songs = json.load(fp)
        
    return songs
       
#compare similarity of two strings
def similar(a, b):
    sep = "feat"
    arest = a.split(sep, 1)[0]
    brest = b.split(sep, 1)[0]
    return SequenceMatcher(None, arest, brest).ratio()

#not currently using this
def get_lang(text):
    doc = nlp(text)
    # document level language detection. Think of it like average language of the document!
    if (doc._.language['language'] == 'es'):
        print("es")
        print(doc._.language)
        return 'es'
    elif (doc._.language['language'] == 'en'):
        print("en")
        print(doc._.language)
        return 'en'
  
    return 'X'

#get language/lyric information for a single track
def get_track(song, artist):
    songs = load_songs()
    search_url = 'http://api.musixmatch.com/ws/1.1/track.search'
    params = {'q_track' : song, 'page_size' : '30', 'page' : '1', 's_track_rating' : 'desc', 'apikey': key}
    resp = requests.get(search_url, params=params)
    tracks = json.loads(resp.text)['message']['body']['track_list']

    artist_results = {}

    index = 0
    for track in tracks:
        track_id = track['track']['track_id']
        artist_results[index] = similar(track['track']['artist_name'], artist)
        index = index + 1

    sorted_index = sorted(artist_results.items(), key=operator.itemgetter(1), reverse=True)
    
    if ((len(sorted_index) > 0) and (sorted_index[0][1] > .6)):
        winningIndex = sorted_index[0][0]
        print(tracks[winningIndex]['track'])
        track_id = tracks[winningIndex]['track']['track_id']
        commontrack_id = tracks[winningIndex]['track']['commontrack_id']
        print(track_id)

        search_url = 'http://api.musixmatch.com/ws/1.1/track.lyrics.get'
        params = {'track_id' : track_id, "commontrack_id" : commontrack_id, 'apikey': key}
        resp = requests.get(search_url, params=params)

        body = json.loads(resp.text)['message']['body']
        if ('lyrics' in body):
            lyrics = body['lyrics']
            lyrics_body  = lyrics['lyrics_body']
#             lyrics_language = lyrics['lyrics_language']

            id = (song + " by " + artist)
            song_info = {}
            song_info['song'] = song
            song_info['artist'] = artist
            song_info['lyrics_body'] = lyrics['lyrics_body'].replace('\n', ' ')[:-59]
#             song_info['lyrics_language'] = lyrics['lyrics_language']
            song_info['lyrics_language'] = get_lang(song_info['lyrics_body'])
            songs[id] = song_info
        else:
            print("empty resp")
            id = (song + " by " + artist)
            song_info = {}
            song_info['song'] = song
            song_info['artist'] = artist
            song_info['lyrics_body'] = "no lyrics"
            lg = "X"
            song_info['lyrics_language'] = lg
            songs[id] = song_info
    else:
        id = (song + " by " + artist)
        song_info = {}
        song_info['song'] = song
        song_info['artist'] = artist
        song_info['lyrics_body'] = "no lyrics"
        lg = "X"
        song_info['lyrics_language'] = lg
        songs[id] = song_info
        
    save_songs(songs)
       
#go through every song in a file
def get_songs(df, fileName):
    songs = load_songs()
    languages = []
    lyrics = []
    for songTitle, artist in zip(df['Track Name'], df['Artist']):
        songTitle = str(songTitle)
        id = (songTitle + ' by ' + artist) 
        print(id)
        #if we do not alreay have the songs language and info archived, then query for it
        if id not in songs:
            get_track(songTitle, artist)
        else:
            print("already have")
        songs = load_songs()
        songInfo = songs[id]
        lyrics.append(songInfo['lyrics_body'])
        languages.append(songInfo['lyrics_language'])
        
    #add new info to dataframe
    df['language'] = languages
    df['lyrics'] = lyrics
    
    df.to_csv(fileName)
    
#create urls and download files for a country and the last x weeks
def download_charts(country, weeks):
    
    #find last fridays date
    last_friday = datetime.now() + relativedelta(weekday=FR(-1))

    if (datetime.now().strftime('%Y-%m-%d') == last_friday.strftime('%Y-%m-%d')):
        last_friday = datetime.now() + relativedelta(weekday=FR(-1))

    files = []
    urls = []
    newer_date = last_friday - timedelta(days=7)
    
    #create uls by counting back a friday at a time
    for i in range(weeks):
        older_date = newer_date - timedelta(days=7)
        newer_str = newer_date.strftime('%Y-%m-%d')
        older_str = older_date.strftime('%Y-%m-%d')
        newer_date = older_date
        url = 'https://spotifycharts.com/regional/' + country + '/weekly/' + older_str + '--' + newer_str + '/download'
        file_name = "data/" + country + "/" + country + "_" + older_str + '--' + newer_str + '.csv'
#         print(url)
#         print(file_name)
        urls.append(url)
        files.append(file_name)
        
    #if we do not already have the file download it
    for file, url in zip(files,urls):
        my_file = Path(file)
        if not my_file.is_file():
            resp = requests.get(url)
            with open(file, 'w') as f:
                writer = csv.writer(f)
                reader = csv.reader(resp.text.splitlines())

                for row in reader:
                    writer.writerow(row)
                
    return files

#take file and add language/lyric info if needed
def add_language(files):

    for file in files:
        
        #load and reformat this file
        df = pd.read_csv(file,skiprows=[0])
        if (list(df) != ['Position', 'Track Name', 'Artist', 'Streams', 'URL']):
            df = pd.read_csv(file,skiprows=[])
            if 'Unnamed: 0' in list(df):
                df = df.drop('Unnamed: 0', axis=1)


        df.Artist = df.Artist.astype(str)
        
        #use api and add language/lyrics only if you do not already have them
        if ('language' not in list(df)):
            get_songs(df, file) 
            songs = load_songs()
            print(len(songs))
        
def get_data(country, weeks):
       
    #download chart files
    files = download_charts(country, weeks)   
    
    #add language information to files
    add_language(files)

    #analyze language for every week
    country = []
    week = []
    english_percent = []
    spanish_percent = []

    for file in files:
        df = pd.read_csv(file,skiprows=[0])
        if (list(df) != ['Position', 'Track Name', 'Artist', 'Streams', 'URL']):
            df = pd.read_csv(file,skiprows=[])
            if 'Unnamed: 0' in list(df):
                df = df.drop('Unnamed: 0', axis=1)


        df.Artist = df.Artist.astype(str)
        lang = {}
        for l in df['language']:
            if l in lang:
                lang[l] = lang[l] + 1
            else:
                lang[l] = 1

        eng = 0
        if "en" in lang:
            eng = lang['en']

        esp = 0
        if "es" in lang:
            esp = lang['es']

        total = eng + esp
        english_percent.append(round((eng/total),2))
        spanish_percent.append(round((esp/total),2))
        country.append(file[5:7])
        week.append(file[-14:][0:10])

    data = pd.DataFrame(
            {'country': country,
             'week': week,
             "english_percent": english_percent,
             "spanish_percent": spanish_percent
            })
    
    return data

In [3]:
us = get_data('us', 104)
us.sort_values(by=['week'], ascending=False)
us.head(104)

    country        week  english_percent  spanish_percent
0        us  2019-06-28             0.96             0.04
1        us  2019-06-21             0.96             0.04
2        us  2019-06-14             0.96             0.04
3        us  2019-06-07             0.96             0.04
4        us  2019-05-31             0.97             0.03
5        us  2019-05-24             0.96             0.04
6        us  2019-05-17             0.96             0.04
7        us  2019-05-10             0.96             0.04
8        us  2019-05-03             0.96             0.04
9        us  2019-04-26             0.96             0.04
10       us  2019-04-19             0.96             0.04
11       us  2019-04-12             0.96             0.04
12       us  2019-04-05             0.96             0.04
13       us  2019-03-29             0.97             0.03
14       us  2019-03-22             0.97             0.03
15       us  2019-03-15             0.97             0.03
16       us  2019-03-08             0.97             0.03
17       us  2019-03-01             0.97             0.03
18       us  2019-02-22             0.96             0.04
19       us  2019-02-15             0.96             0.04
20       us  2019-02-08             0.96             0.04
21       us  2019-02-01             0.97             0.03
22       us  2019-01-25             0.96             0.04
23       us  2019-01-18             0.96             0.04
24       us  2019-01-11             0.97             0.03
25       us  2019-01-04             0.96             0.04
26       us  2018-12-28             0.98             0.02
27       us  2018-12-21             0.98             0.02
28       us  2018-12-14             0.99             0.01
29       us  2018-12-07             0.98             0.02
..      ...         ...              ...              ...
74       us  2018-01-26             0.97             0.03
75       us  2018-01-19             0.97             0.03
76       us  2018-01-12             0.96             0.04
77       us  2018-01-05             0.96             0.04
78       us  2017-12-29             0.97             0.03
79       us  2017-12-22             0.98             0.02
80       us  2017-12-15             0.98             0.02
81       us  2017-12-08             0.97             0.03
82       us  2017-12-01             0.97             0.03
83       us  2017-11-24             0.98             0.02
84       us  2017-11-17             0.99             0.01
85       us  2017-11-10             0.99             0.01
86       us  2017-11-03             0.99             0.01
87       us  2017-10-27             0.99             0.01
88       us  2017-10-20             0.98             0.02
89       us  2017-10-13             0.98             0.02
90       us  2017-10-06             0.99             0.01
91       us  2017-09-29             0.97             0.03
92       us  2017-09-22             0.97             0.03
93       us  2017-09-15             0.97             0.03
94       us  2017-09-08             0.97             0.03
95       us  2017-09-01             0.97             0.03
96       us  2017-08-25             0.97             0.03
97       us  2017-08-18             0.97             0.03
98       us  2017-08-11             0.97             0.03
99       us  2017-08-04             0.97             0.03
100      us  2017-07-28             0.98             0.02
101      us  2017-07-21             0.97             0.03
102      us  2017-07-14             0.98             0.02
103      us  2017-07-07             0.98             0.02

[104 rows x 4 columns]

In [4]:
do = get_data('do', 104)
do.sort_values(by=['week'], ascending=False)
do.head(104)

    country        week  english_percent  spanish_percent
0        do  2019-06-28             0.11             0.89
1        do  2019-06-21             0.10             0.90
2        do  2019-06-14             0.10             0.90
3        do  2019-06-07             0.10             0.90
4        do  2019-05-31             0.13             0.87
5        do  2019-05-24             0.13             0.87
6        do  2019-05-17             0.15             0.85
7        do  2019-05-10             0.15             0.85
8        do  2019-05-03             0.14             0.86
9        do  2019-04-26             0.14             0.86
10       do  2019-04-19             0.16             0.84
11       do  2019-04-12             0.16             0.84
12       do  2019-04-05             0.20             0.80
13       do  2019-03-29             0.16             0.84
14       do  2019-03-22             0.16             0.84
15       do  2019-03-15             0.17             0.83
16       do  2019-03-08             0.18             0.82
17       do  2019-03-01             0.17             0.83
18       do  2019-02-22             0.18             0.82
19       do  2019-02-15             0.22             0.78
20       do  2019-02-08             0.19             0.81
21       do  2019-02-01             0.18             0.82
22       do  2019-01-25             0.18             0.82
23       do  2019-01-18             0.18             0.82
24       do  2019-01-11             0.17             0.83
25       do  2019-01-04             0.13             0.87
26       do  2018-12-28             0.13             0.87
27       do  2018-12-21             0.15             0.85
28       do  2018-12-14             0.18             0.82
29       do  2018-12-07             0.21             0.79
..      ...         ...              ...              ...
74       do  2018-01-26             0.33             0.67
75       do  2018-01-19             0.34             0.66
76       do  2018-01-12             0.32             0.68
77       do  2018-01-05             0.26             0.74
78       do  2017-12-29             0.24             0.76
79       do  2017-12-22             0.27             0.73
80       do  2017-12-15             0.29             0.71
81       do  2017-12-08             0.30             0.70
82       do  2017-12-01             0.30             0.70
83       do  2017-11-24             0.30             0.70
84       do  2017-11-17             0.36             0.64
85       do  2017-11-10             0.35             0.65
86       do  2017-11-03             0.39             0.61
87       do  2017-10-27             0.39             0.61
88       do  2017-10-20             0.40             0.60
89       do  2017-10-13             0.39             0.61
90       do  2017-10-06             0.40             0.60
91       do  2017-09-29             0.39             0.61
92       do  2017-09-22             0.41             0.59
93       do  2017-09-15             0.41             0.59
94       do  2017-09-08             0.41             0.59
95       do  2017-09-01             0.39             0.61
96       do  2017-08-25             0.40             0.60
97       do  2017-08-18             0.39             0.61
98       do  2017-08-11             0.41             0.59
99       do  2017-08-04             0.41             0.59
100      do  2017-07-28             0.41             0.59
101      do  2017-07-21             0.43             0.57
102      do  2017-07-14             0.44             0.56
103      do  2017-07-07             0.44             0.56

[104 rows x 4 columns]

In [5]:
mx = get_data('mx', 104)
mx.sort_values(by=['week'], ascending=False)
mx.head(104)

    country        week  english_percent  spanish_percent
0        mx  2019-06-28             0.21             0.79
1        mx  2019-06-21             0.21             0.79
2        mx  2019-06-14             0.22             0.78
3        mx  2019-06-07             0.20             0.80
4        mx  2019-05-31             0.19             0.81
5        mx  2019-05-24             0.22             0.78
6        mx  2019-05-17             0.22             0.78
7        mx  2019-05-10             0.23             0.77
8        mx  2019-05-03             0.22             0.78
9        mx  2019-04-26             0.22             0.78
10       mx  2019-04-19             0.22             0.78
11       mx  2019-04-12             0.25             0.75
12       mx  2019-04-05             0.26             0.74
13       mx  2019-03-29             0.24             0.76
14       mx  2019-03-22             0.24             0.76
15       mx  2019-03-15             0.26             0.74
16       mx  2019-03-08             0.25             0.75
17       mx  2019-03-01             0.25             0.75
18       mx  2019-02-22             0.24             0.76
19       mx  2019-02-15             0.29             0.71
20       mx  2019-02-08             0.26             0.74
21       mx  2019-02-01             0.26             0.74
22       mx  2019-01-25             0.28             0.72
23       mx  2019-01-18             0.27             0.73
24       mx  2019-01-11             0.27             0.73
25       mx  2019-01-04             0.20             0.80
26       mx  2018-12-28             0.21             0.79
27       mx  2018-12-21             0.24             0.76
28       mx  2018-12-14             0.26             0.74
29       mx  2018-12-07             0.30             0.70
..      ...         ...              ...              ...
74       mx  2018-01-26             0.39             0.61
75       mx  2018-01-19             0.39             0.61
76       mx  2018-01-12             0.37             0.63
77       mx  2018-01-05             0.34             0.66
78       mx  2017-12-29             0.30             0.70
79       mx  2017-12-22             0.33             0.67
80       mx  2017-12-15             0.33             0.67
81       mx  2017-12-08             0.36             0.64
82       mx  2017-12-01             0.35             0.65
83       mx  2017-11-24             0.36             0.64
84       mx  2017-11-17             0.35             0.65
85       mx  2017-11-10             0.38             0.62
86       mx  2017-11-03             0.38             0.62
87       mx  2017-10-27             0.38             0.62
88       mx  2017-10-20             0.38             0.62
89       mx  2017-10-13             0.39             0.61
90       mx  2017-10-06             0.40             0.60
91       mx  2017-09-29             0.39             0.61
92       mx  2017-09-22             0.37             0.63
93       mx  2017-09-15             0.41             0.59
94       mx  2017-09-08             0.43             0.57
95       mx  2017-09-01             0.40             0.60
96       mx  2017-08-25             0.40             0.60
97       mx  2017-08-18             0.39             0.61
98       mx  2017-08-11             0.40             0.60
99       mx  2017-08-04             0.40             0.60
100      mx  2017-07-28             0.41             0.59
101      mx  2017-07-21             0.39             0.61
102      mx  2017-07-14             0.42             0.58
103      mx  2017-07-07             0.43             0.57

[104 rows x 4 columns]

In [6]:
mx = get_data('cr', 104)
mx.sort_values(by=['week'], ascending=False)
mx.head(104)

    country        week  english_percent  spanish_percent
0        cr  2019-06-28             0.29             0.71
1        cr  2019-06-21             0.29             0.71
2        cr  2019-06-14             0.29             0.71
3        cr  2019-06-07             0.28             0.72
4        cr  2019-05-31             0.28             0.72
5        cr  2019-05-24             0.30             0.70
6        cr  2019-05-17             0.32             0.68
7        cr  2019-05-10             0.32             0.68
8        cr  2019-05-03             0.33             0.67
9        cr  2019-04-26             0.34             0.66
10       cr  2019-04-19             0.33             0.67
11       cr  2019-04-12             0.39             0.61
12       cr  2019-04-05             0.37             0.63
13       cr  2019-03-29             0.34             0.66
14       cr  2019-03-22             0.35             0.65
15       cr  2019-03-15             0.36             0.64
16       cr  2019-03-08             0.36             0.64
17       cr  2019-03-01             0.38             0.62
18       cr  2019-02-22             0.40             0.60
19       cr  2019-02-15             0.43             0.57
20       cr  2019-02-08             0.39             0.61
21       cr  2019-02-01             0.36             0.64
22       cr  2019-01-25             0.39             0.61
23       cr  2019-01-18             0.40             0.60
24       cr  2019-01-11             0.39             0.61
25       cr  2019-01-04             0.31             0.69
26       cr  2018-12-28             0.33             0.67
27       cr  2018-12-21             0.39             0.61
28       cr  2018-12-14             0.43             0.57
29       cr  2018-12-07             0.46             0.54
..      ...         ...              ...              ...
74       cr  2018-01-26             0.51             0.49
75       cr  2018-01-19             0.52             0.48
76       cr  2018-01-12             0.53             0.47
77       cr  2018-01-05             0.51             0.49
78       cr  2017-12-29             0.50             0.50
79       cr  2017-12-22             0.52             0.48
80       cr  2017-12-15             0.56             0.44
81       cr  2017-12-08             0.55             0.45
82       cr  2017-12-01             0.54             0.46
83       cr  2017-11-24             0.54             0.46
84       cr  2017-11-17             0.54             0.46
85       cr  2017-11-10             0.54             0.46
86       cr  2017-11-03             0.54             0.46
87       cr  2017-10-27             0.55             0.45
88       cr  2017-10-20             0.57             0.43
89       cr  2017-10-13             0.56             0.44
90       cr  2017-10-06             0.57             0.43
91       cr  2017-09-29             0.58             0.42
92       cr  2017-09-22             0.58             0.42
93       cr  2017-09-15             0.57             0.43
94       cr  2017-09-08             0.58             0.42
95       cr  2017-09-01             0.58             0.42
96       cr  2017-08-25             0.57             0.43
97       cr  2017-08-18             0.57             0.43
98       cr  2017-08-11             0.58             0.42
99       cr  2017-08-04             0.58             0.42
100      cr  2017-07-28             0.59             0.41
101      cr  2017-07-21             0.60             0.40
102      cr  2017-07-14             0.61             0.39
103      cr  2017-07-07             0.62             0.38

[104 rows x 4 columns]

In [7]:
ar = get_data('ar', 104)
ar.sort_values(by=['week'], ascending=False)
ar.head(104)

    country        week  english_percent  spanish_percent
0        ar  2019-06-28             0.16             0.84
1        ar  2019-06-21             0.14             0.86
2        ar  2019-06-14             0.13             0.87
3        ar  2019-06-07             0.15             0.85
4        ar  2019-05-31             0.15             0.85
5        ar  2019-05-24             0.16             0.84
6        ar  2019-05-17             0.17             0.83
7        ar  2019-05-10             0.18             0.82
8        ar  2019-05-03             0.20             0.80
9        ar  2019-04-26             0.21             0.79
10       ar  2019-04-19             0.21             0.79
11       ar  2019-04-12             0.20             0.80
12       ar  2019-04-05             0.22             0.78
13       ar  2019-03-29             0.18             0.82
14       ar  2019-03-22             0.20             0.80
15       ar  2019-03-15             0.20             0.80
16       ar  2019-03-08             0.20             0.80
17       ar  2019-03-01             0.21             0.79
18       ar  2019-02-22             0.21             0.79
19       ar  2019-02-15             0.24             0.76
20       ar  2019-02-08             0.18             0.82
21       ar  2019-02-01             0.18             0.82
22       ar  2019-01-25             0.16             0.84
23       ar  2019-01-18             0.16             0.84
24       ar  2019-01-11             0.14             0.86
25       ar  2019-01-04             0.12             0.88
26       ar  2018-12-28             0.12             0.88
27       ar  2018-12-21             0.16             0.84
28       ar  2018-12-14             0.16             0.84
29       ar  2018-12-07             0.19             0.81
..      ...         ...              ...              ...
74       ar  2018-01-26             0.21             0.79
75       ar  2018-01-19             0.24             0.76
76       ar  2018-01-12             0.23             0.77
77       ar  2018-01-05             0.21             0.79
78       ar  2017-12-29             0.21             0.79
79       ar  2017-12-22             0.23             0.77
80       ar  2017-12-15             0.25             0.75
81       ar  2017-12-08             0.25             0.75
82       ar  2017-12-01             0.26             0.74
83       ar  2017-11-24             0.30             0.70
84       ar  2017-11-17             0.29             0.71
85       ar  2017-11-10             0.24             0.76
86       ar  2017-11-03             0.25             0.75
87       ar  2017-10-27             0.24             0.76
88       ar  2017-10-20             0.24             0.76
89       ar  2017-10-13             0.25             0.75
90       ar  2017-10-06             0.24             0.76
91       ar  2017-09-29             0.25             0.75
92       ar  2017-09-22             0.27             0.73
93       ar  2017-09-15             0.28             0.72
94       ar  2017-09-08             0.28             0.72
95       ar  2017-09-01             0.28             0.72
96       ar  2017-08-25             0.29             0.71
97       ar  2017-08-18             0.31             0.69
98       ar  2017-08-11             0.32             0.68
99       ar  2017-08-04             0.33             0.67
100      ar  2017-07-28             0.34             0.66
101      ar  2017-07-21             0.32             0.68
102      ar  2017-07-14             0.34             0.66
103      ar  2017-07-07             0.34             0.66

[104 rows x 4 columns]

In [8]:
gt = get_data('gt', 104)
gt.sort_values(by=['week'], ascending=False)
gt.head(104)

    country        week  english_percent  spanish_percent
0        gt  2019-06-28             0.16             0.84
1        gt  2019-06-21             0.17             0.83
2        gt  2019-06-14             0.18             0.82
3        gt  2019-06-07             0.16             0.84
4        gt  2019-05-31             0.18             0.82
5        gt  2019-05-24             0.18             0.82
6        gt  2019-05-17             0.20             0.80
7        gt  2019-05-10             0.18             0.82
8        gt  2019-05-03             0.20             0.80
9        gt  2019-04-26             0.21             0.79
10       gt  2019-04-19             0.20             0.80
11       gt  2019-04-12             0.20             0.80
12       gt  2019-04-05             0.21             0.79
13       gt  2019-03-29             0.20             0.80
14       gt  2019-03-22             0.21             0.79
15       gt  2019-03-15             0.23             0.77
16       gt  2019-03-08             0.24             0.76
17       gt  2019-03-01             0.23             0.77
18       gt  2019-02-22             0.24             0.76
19       gt  2019-02-15             0.30             0.70
20       gt  2019-02-08             0.26             0.74
21       gt  2019-02-01             0.24             0.76
22       gt  2019-01-25             0.26             0.74
23       gt  2019-01-18             0.24             0.76
24       gt  2019-01-11             0.24             0.76
25       gt  2019-01-04             0.19             0.81
26       gt  2018-12-28             0.19             0.81
27       gt  2018-12-21             0.23             0.77
28       gt  2018-12-14             0.23             0.77
29       gt  2018-12-07             0.24             0.76
..      ...         ...              ...              ...
74       gt  2018-01-26             0.39             0.61
75       gt  2018-01-19             0.40             0.60
76       gt  2018-01-12             0.41             0.59
77       gt  2018-01-05             0.40             0.60
78       gt  2017-12-29             0.36             0.64
79       gt  2017-12-22             0.36             0.64
80       gt  2017-12-15             0.38             0.62
81       gt  2017-12-08             0.39             0.61
82       gt  2017-12-01             0.38             0.62
83       gt  2017-11-24             0.41             0.59
84       gt  2017-11-17             0.40             0.60
85       gt  2017-11-10             0.41             0.59
86       gt  2017-11-03             0.42             0.58
87       gt  2017-10-27             0.43             0.57
88       gt  2017-10-20             0.44             0.56
89       gt  2017-10-13             0.43             0.57
90       gt  2017-10-06             0.45             0.55
91       gt  2017-09-29             0.46             0.54
92       gt  2017-09-22             0.46             0.54
93       gt  2017-09-15             0.46             0.54
94       gt  2017-09-08             0.44             0.56
95       gt  2017-09-01             0.42             0.58
96       gt  2017-08-25             0.43             0.57
97       gt  2017-08-18             0.45             0.55
98       gt  2017-08-11             0.47             0.53
99       gt  2017-08-04             0.48             0.52
100      gt  2017-07-28             0.50             0.50
101      gt  2017-07-21             0.45             0.55
102      gt  2017-07-14             0.46             0.54
103      gt  2017-07-07             0.49             0.51

[104 rows x 4 columns]

In [9]:
co = get_data('co', 104)
co.sort_values(by=['week'], ascending=False)
co.head(104)

    country        week  english_percent  spanish_percent
0        co  2019-06-28             0.13             0.87
1        co  2019-06-21             0.15             0.85
2        co  2019-06-14             0.15             0.85
3        co  2019-06-07             0.13             0.87
4        co  2019-05-31             0.16             0.84
5        co  2019-05-24             0.17             0.83
6        co  2019-05-17             0.19             0.81
7        co  2019-05-10             0.18             0.82
8        co  2019-05-03             0.21             0.79
9        co  2019-04-26             0.23             0.77
10       co  2019-04-19             0.22             0.78
11       co  2019-04-12             0.25             0.75
12       co  2019-04-05             0.24             0.76
13       co  2019-03-29             0.21             0.79
14       co  2019-03-22             0.23             0.77
15       co  2019-03-15             0.24             0.76
16       co  2019-03-08             0.23             0.77
17       co  2019-03-01             0.22             0.78
18       co  2019-02-22             0.24             0.76
19       co  2019-02-15             0.27             0.73
20       co  2019-02-08             0.25             0.75
21       co  2019-02-01             0.23             0.77
22       co  2019-01-25             0.22             0.78
23       co  2019-01-18             0.25             0.75
24       co  2019-01-11             0.21             0.79
25       co  2019-01-04             0.14             0.86
26       co  2018-12-28             0.15             0.85
27       co  2018-12-21             0.20             0.80
28       co  2018-12-14             0.21             0.79
29       co  2018-12-07             0.23             0.77
..      ...         ...              ...              ...
74       co  2018-01-26             0.37             0.63
75       co  2018-01-19             0.40             0.60
76       co  2018-01-12             0.36             0.64
77       co  2018-01-05             0.33             0.67
78       co  2017-12-29             0.30             0.70
79       co  2017-12-22             0.36             0.64
80       co  2017-12-15             0.37             0.63
81       co  2017-12-08             0.39             0.61
82       co  2017-12-01             0.38             0.62
83       co  2017-11-24             0.38             0.62
84       co  2017-11-17             0.35             0.65
85       co  2017-11-10             0.38             0.62
86       co  2017-11-03             0.40             0.60
87       co  2017-10-27             0.44             0.56
88       co  2017-10-20             0.41             0.59
89       co  2017-10-13             0.42             0.58
90       co  2017-10-06             0.45             0.55
91       co  2017-09-29             0.45             0.55
92       co  2017-09-22             0.47             0.53
93       co  2017-09-15             0.47             0.53
94       co  2017-09-08             0.44             0.56
95       co  2017-09-01             0.46             0.54
96       co  2017-08-25             0.45             0.55
97       co  2017-08-18             0.47             0.53
98       co  2017-08-11             0.46             0.54
99       co  2017-08-04             0.47             0.53
100      co  2017-07-28             0.49             0.51
101      co  2017-07-21             0.46             0.54
102      co  2017-07-14             0.48             0.52
103      co  2017-07-07             0.48             0.52

[104 rows x 4 columns]

In [10]:
glbl = get_data('global', 104)
glbl.sort_values(by=['week'], ascending=False)
glbl.head(104)

    country        week  english_percent  spanish_percent
0        gl  2019-06-28             0.81             0.19
1        gl  2019-06-21             0.80             0.20
2        gl  2019-06-14             0.81             0.19
3        gl  2019-06-07             0.82             0.18
4        gl  2019-05-31             0.82             0.18
5        gl  2019-05-24             0.84             0.16
6        gl  2019-05-17             0.82             0.18
7        gl  2019-05-10             0.83             0.17
8        gl  2019-05-03             0.83             0.17
9        gl  2019-04-26             0.84             0.16
10       gl  2019-04-19             0.82             0.18
11       gl  2019-04-12             0.84             0.16
12       gl  2019-04-05             0.81             0.19
13       gl  2019-03-29             0.82             0.18
14       gl  2019-03-22             0.83             0.17
15       gl  2019-03-15             0.85             0.15
16       gl  2019-03-08             0.82             0.18
17       gl  2019-03-01             0.83             0.17
18       gl  2019-02-22             0.84             0.16
19       gl  2019-02-15             0.85             0.15
20       gl  2019-02-08             0.84             0.16
21       gl  2019-02-01             0.83             0.17
22       gl  2019-01-25             0.83             0.17
23       gl  2019-01-18             0.82             0.18
24       gl  2019-01-11             0.84             0.16
25       gl  2019-01-04             0.82             0.18
26       gl  2018-12-28             0.88             0.12
27       gl  2018-12-21             0.85             0.15
28       gl  2018-12-14             0.87             0.13
29       gl  2018-12-07             0.85             0.15
..      ...         ...              ...              ...
74       gl  2018-01-26             0.84             0.16
75       gl  2018-01-19             0.86             0.14
76       gl  2018-01-12             0.84             0.16
77       gl  2018-01-05             0.83             0.17
78       gl  2017-12-29             0.86             0.14
79       gl  2017-12-22             0.86             0.14
80       gl  2017-12-15             0.87             0.13
81       gl  2017-12-08             0.86             0.14
82       gl  2017-12-01             0.85             0.15
83       gl  2017-11-24             0.85             0.15
84       gl  2017-11-17             0.86             0.14
85       gl  2017-11-10             0.86             0.14
86       gl  2017-11-03             0.85             0.15
87       gl  2017-10-27             0.85             0.15
88       gl  2017-10-20             0.84             0.16
89       gl  2017-10-13             0.84             0.16
90       gl  2017-10-06             0.83             0.17
91       gl  2017-09-29             0.83             0.17
92       gl  2017-09-22             0.83             0.17
93       gl  2017-09-15             0.84             0.16
94       gl  2017-09-08             0.81             0.19
95       gl  2017-09-01             0.83             0.17
96       gl  2017-08-25             0.82             0.18
97       gl  2017-08-18             0.83             0.17
98       gl  2017-08-11             0.82             0.18
99       gl  2017-08-04             0.83             0.17
100      gl  2017-07-28             0.86             0.14
101      gl  2017-07-21             0.84             0.16
102      gl  2017-07-14             0.84             0.16
103      gl  2017-07-07             0.85             0.15

[104 rows x 4 columns]

In [32]:
import pandas as pd

def get_all_data(countries, go_back):
    #find last fridays date
    last_friday = datetime.now() + relativedelta(weekday=FR(-1))

    if (datetime.now().strftime('%Y-%m-%d') == last_friday.strftime('%Y-%m-%d')):
        last_friday = datetime.now() + relativedelta(weekday=FR(-1))

    all_pds = []
    files = []
    urls = []
    country = []
    week = []
    newer_date = last_friday - timedelta(days=7)

    #create uls by counting back a friday at a time
    for i in range(go_back):
        dfs = []
        first = True
        older_date = newer_date - timedelta(days=7)
        newer_str = newer_date.strftime('%Y-%m-%d')
        older_str = older_date.strftime('%Y-%m-%d')
        newer_date = older_date
        for c in countries:
            file_name = "data/" + c + "/" + c + "_" + older_str + '--' + newer_str + '.csv'
            df = pd.read_csv(file_name,skiprows=[0])
            if (list(df) != ['Position', 'Track Name', 'Artist', 'Streams', 'URL']):
                df = pd.read_csv(file_name,skiprows=[])
                if 'Unnamed: 0' in list(df):
                    df = df.drop('Unnamed: 0', axis=1)


            df.Artist = df.Artist.astype(str)
            dfs.append(df)
            if first:
                first = False
                country.append("all")
                week.append(file_name[-14:][0:10])
        whole=pd.concat(dfs)   
        all_pds.append(whole)  

    #analyze language for every week
    english_percent = []
    spanish_percent = []

    for df in all_pds:
        if (list(df) != ['Position', 'Track Name', 'Artist', 'Streams', 'URL']):
            if 'Unnamed: 0' in list(df):
                df = df.drop('Unnamed: 0', axis=1)

        lang = {}
        for l in df['language']:
            if l in lang:
                lang[l] = lang[l] + 1
            else:
                lang[l] = 1

        eng = 0
        if "en" in lang:
            eng = lang['en']

        esp = 0
        if "es" in lang:
            esp = lang['es']

        total = eng + esp
        english_percent.append(round((eng/total),2))
        spanish_percent.append(round((esp/total),2))

    data = pd.DataFrame(
            {'country': country,
             'week': week,
             "english_percent": english_percent,
             "spanish_percent": spanish_percent
            })
    
    return data

In [33]:
all_countries = get_all_data(["mx","gt","ar","do", "co"],104)
all_countries.head(104)
all_countries.to_csv("data/all_countries.csv")

In [29]:
# Create a trace
trace = go.Scatter(
    x = us['week'],
    y = us['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys US weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [14]:
# Create a trace
trace = go.Scatter(
    x = do['week'],
    y = do['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys Dominican Republic weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [15]:
# Create a trace
trace = go.Scatter(
    x = co['week'],
    y = co['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys Colombia weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [16]:
# Create a trace
trace = go.Scatter(
    x = mx['week'],
    y = mx['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys Mexico weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [17]:
# Create a trace
trace = go.Scatter(
    x = ar['week'],
    y = ar['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys Argentina weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [18]:
# Create a trace
trace = go.Scatter(
    x = gt['week'],
    y = gt['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys Guatemala weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [19]:
# Create a trace
trace = go.Scatter(
    x = glbl['week'],
    y = glbl['spanish_percent']
)

data = [trace]

layout = dict(title = 'Percent of Spanish songs in Spotifys Global weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [34]:
print(len(all_countries))

# Create a trace
trace = go.Scatter(
    x = all_countries['week'],
    y = all_countries['spanish_percent'],
    name='Spanish Percent',
)

xi = arange(0,len(all_countries))

# Generated linear fit
slope, intercept, r_value, p_value, std_err = stats.linregress(xi,all_countries['spanish_percent'])
line = slope*xi+intercept

trace2 = go.Scatter(
                  x=all_countries['week'],
                  y=line,
                  mode='lines',
                  marker=go.Marker(color='rgb(31, 119, 180)'),
                  name='Fit',
                  line = dict(
                    color = ('rgb(205, 12, 24)'),
                    width = 2)
                  )

data = [trace, trace2]

layout = dict(title = 'Percent of Spanish songs in Spotifys Combined Spanish Speaking Countries weekly top 200 Chart',
              xaxis = dict(title = ''),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

104
High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'