In [379]:
import os
import requests
import pandas as pd
import csv
import time
import datetime
import dateutil
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta, FR
import json
from pathlib import Path
from difflib import SequenceMatcher
import operator
import re
from functools import reduce

import plotly 
import plotly.plotly as py
import plotly.graph_objs as go

from numpy import arange,array,ones
from scipy import stats
import spacy
from spacy_langdetect import LanguageDetector
from langdetect import detect_langs
nlp = spacy.load('en')
nlp.add_pipe(LanguageDetector(), name='language_detector', last=True)
with open('keys.json', 'r') as fp:
    our_keys = json.load(fp)
key = our_keys["musixmatch_key"]
plotly_key = our_keys["plotly_key"]
plotly.tools.set_credentials_file(username = 'jagluck',
                                  api_key = plotly_key)

In [412]:
#save songs
def save_songs(songs):
    if songs != {}:
        with open('data/songs.json', 'w') as fp:
            json.dump(songs, fp)
        
def load_songs():
    #load songs
    with open('data/songs.json', 'r') as fp:
        songs = json.load(fp)
        
    return songs
       
#compare similarity of two strings
def similar(a, b):
    sep = "feat"
    arest = a.split(sep, 1)[0]
    brest = b.split(sep, 1)[0]
    return SequenceMatcher(None, arest, brest).ratio()

def get_lang(text):
    doc = nlp(text)
    # document level language detection. Think of it like average language of the document!
    if (doc._.language['score'] > .9):
        langs = detect_langs(text)
        if (langs[0].lang == doc._.language['language']):
            if (langs[0].prob > .9):
                return doc._.language['language']

  
    return 'X'

#get language/lyric information for a single track
def get_track(song, artist):
    songs = load_songs()
    search_url = 'http://api.musixmatch.com/ws/1.1/track.search'
    params = {'q_track' : song, 'page_size' : '30', 'page' : '1', 's_track_rating' : 'desc', 'apikey': key}
    resp = requests.get(search_url, params=params)
    message = json.loads(resp.text)['message']
    
    try_count = 0
    while (message["header"]["status_code"] != 200):
        time.sleep(.5)  
        resp = requests.get(search_url, params=params)
        message = json.loads(resp.text)['message']
        if (try_count > 5):
            break
        try_count = try_count + 1
        
    if (try_count > 5):
        id = (song + " by " + artist)
        song_info = {}
        song_info['song'] = song
        song_info['artist'] = artist
        song_info['lyrics_body'] = "no lyrics"
        lg = "X"
        song_info['lyrics_language'] = lg
        songs[id] = song_info
    else:
        tracks = json.loads(resp.text)['message']['body']['track_list']

        artist_results = {}

        index = 0
        for track in tracks:
            track_id = track['track']['track_id']
            artist_results[index] = similar(track['track']['artist_name'], artist)
            index = index + 1

        sorted_index = sorted(artist_results.items(), key=operator.itemgetter(1), reverse=True)

        if ((len(sorted_index) > 0) and (sorted_index[0][1] > .6)):
            winningIndex = sorted_index[0][0]
            print(tracks[winningIndex]['track'])
            track_id = tracks[winningIndex]['track']['track_id']
            commontrack_id = tracks[winningIndex]['track']['commontrack_id']
            print(track_id)

            search_url = 'http://api.musixmatch.com/ws/1.1/track.lyrics.get'
            params = {'track_id' : track_id, "commontrack_id" : commontrack_id, 'apikey': key}
            resp = requests.get(search_url, params=params)

            body = json.loads(resp.text)['message']['body']
            if ('lyrics' in body):
                lyrics = body['lyrics']
                lyrics_body  = lyrics['lyrics_body']
    #             lyrics_language = lyrics['lyrics_language']

                id = (song + " by " + artist)
                song_info = {}
                song_info['song'] = song
                song_info['artist'] = artist
                song_info['lyrics_body'] = lyrics['lyrics_body'].replace('\n', ' ')[:-59]
    #             song_info['lyrics_language'] = lyrics['lyrics_language']
                song_info['lyrics_language'] = get_lang(song_info['lyrics_body'])
                songs[id] = song_info
            else:
                print("empty resp")
                id = (song + " by " + artist)
                song_info = {}
                song_info['song'] = song
                song_info['artist'] = artist
                song_info['lyrics_body'] = "no lyrics"
                lg = "X"
                song_info['lyrics_language'] = lg
                songs[id] = song_info
        else:
            id = (song + " by " + artist)
            song_info = {}
            song_info['song'] = song
            song_info['artist'] = artist
            song_info['lyrics_body'] = "no lyrics"
            lg = "X"
            song_info['lyrics_language'] = lg
            songs[id] = song_info
        
    save_songs(songs)
       
#go through every song in a file
def get_songs(df, fileName):
    songs = load_songs()
    languages = []
    lyrics = []
    for songTitle, artist in zip(df['Track Name'], df['Artist']):
        songTitle = str(songTitle)
        id = (songTitle + ' by ' + artist) 
#         print(id)
        #if we do not alreay have the songs language and info archived, then query for it
        if id not in songs:
            get_track(songTitle, artist)
#         else:
#             print("already have")
        songs = load_songs()
        songInfo = songs[id]
        lyrics.append(songInfo['lyrics_body'])
        languages.append(songInfo['lyrics_language'])    
    #add new info to dataframe
    df['language'] = languages
    df['lyrics'] = lyrics
    
    df.to_csv(fileName)
    
#create urls and download files for a country
def download_charts(country):
    
    #find last friday date
    last_friday= datetime.now() + relativedelta(weekday=FR(-1))

    if (datetime.now().strftime('%Y-%m-%d') == last_friday.strftime('%Y-%m-%d')):
        last_friday = datetime.now() + relativedelta(weekday=FR(-1))

    files = []
    urls = []
    newer_date = last_friday
    older_date = newer_date - timedelta(days=7)
    oldest_date = datetime(2016, 12, 23) 
    #create uls by counting back a friday at a time
    while (older_date > oldest_date): 
        newer_str = newer_date.strftime('%Y-%m-%d')
        older_str = older_date.strftime('%Y-%m-%d')
        newer_date = older_date
        older_date = newer_date - timedelta(days=7)
        url = 'https://spotifycharts.com/regional/' + country + '/weekly/' + older_str + '--' + newer_str + '/download'
        file_name = "data/" + country + "/" + country + "_" + older_str + '--' + newer_str + '.csv'
#         print(url)
#         print(file_name)
        urls.append(url)
        files.append(file_name)
        
    #if we do not already have the file download it
    for file, url in zip(files,urls):
        my_file = Path(file)
        if not my_file.is_file():
            resp = requests.get(url)
            
            # if the directory does not exist create it
            directory = os.path.dirname(my_file)
            if not os.path.exists(directory):
                os.makedirs(directory)

            with open(file, 'w') as f:
                writer = csv.writer(f)
                reader = csv.reader(resp.text.splitlines())

                for row in reader:
                    writer.writerow(row)
                
    return files

#take file and add language/lyric info if needed
def add_language(files):

    for file in files:
        #load and reformat this file
#         print(file)
        try:
            df = pd.read_csv(file,skiprows=[0])
            if (list(df) != ['Position', 'Track Name', 'Artist', 'Streams', 'URL']):
                df = pd.read_csv(file,skiprows=[])
                if 'Unnamed: 0' in list(df):
                    df = df.drop('Unnamed: 0', axis=1)


            df.Artist = df.Artist.astype(str)

            #use api and add language/lyrics only if you do not already have them
            if ('language' not in list(df)):
                get_songs(df, file) 
                songs = load_songs()
                print(len(songs))
  
        except:
            pass
        
            
        
def get_data(country):
       
    #download chart files
    files = download_charts(country)   
    
    #add language information to files
    add_language(files)

    #analyze language for every week
    country = []
    week = []
    english_percent = []
    german_percent = []
    spanish_percent = []
    songs_found = []

    for file in files:
        try:
            df = pd.read_csv(file,skiprows=[0])
            if (list(df) != ['Position', 'Track Name', 'Artist', 'Streams', 'URL']):
                df = pd.read_csv(file,skiprows=[])
                if 'Unnamed: 0' in list(df):
                    df = df.drop('Unnamed: 0', axis=1)


            df.Artist = df.Artist.astype(str)
            lang = {}
            total = 0
            for l in df['language']:
                if l is not "X":
                    total = total + 1
                if l in lang:
                    lang[l] = lang[l] + 1
                else:
                    lang[l] = 1
            eng = 0
            if "en" in lang:
                eng = lang['en']
            esp = 0
            if "es" in lang:
                esp = lang['es']
            ger = 0
            if "de" in lang:
                ger = lang['de']
            english_percent.append(round((eng/total),2))
            spanish_percent.append(round((esp/total),2))
            german_percent.append(round((ger/total),2))
            country.append(file[5:7])
            week.append(file[-14:][0:10])
            songs_found.append(total)
        except:
            print(file)

    data = pd.DataFrame(
            {'country': country,
             'week': week,
             "english_percent": english_percent,
             "spanish_percent": spanish_percent,
             "german_percent": german_percent,
             "total_songs_found" : songs_found
            })
    
    return data

In [413]:
us = get_data('us')
us.sort_values(by=['week'], ascending=False)
us.head(200)

,country,week,english_percent,spanish_percent,german_percent,total_songs_found
0,us,2019-07-19,0.95,0.05,0.0,149
1,us,2019-07-12,0.95,0.05,0.0,148
2,us,2019-07-05,0.91,0.09,0.0,162
3,us,2019-06-28,0.96,0.04,0.0,163
4,us,2019-06-21,0.96,0.04,0.0,165
5,us,2019-06-14,0.96,0.04,0.0,166
6,us,2019-06-07,0.96,0.04,0.0,166
7,us,2019-05-31,0.97,0.03,0.0,165
8,us,2019-05-24,0.97,0.03,0.0,161
9,us,2019-05-17,0.97,0.03,0.0,163
10,us,2019-05-10,0.97,0.03,0.0,168
11,us,2019-05-03,0.97,0.03,0.0,167
12,us,2019-04-26,0.96,0.04,0.0,167
13,us,2019-04-19,0.95,0.04,0.0,169
14,us,2019-04-12,0.96,0.04,0.0,173
15,us,2019-04-05,0.96,0.04,0.0,171
16,us,2019-03-29,0.97,0.03,0.0,163
17,us,2019-03-22,0.97,0.03,0.0,166
18,us,2019-03-15,0.97,0.03,0.0,164
19,us,2019-03-08,0.97,0.03,0.0,160
20,us,2019-03-01,0.97,0.03,0.0,163
21,us,2019-02-22,0.96,0.04,0.0,168
22,us,2019-02-15,0.96,0.04,0.0,167
23,us,2019-02-08,0.96,0.04,0.0,165
24,us,2019-02-01,0.96,0.04,0.0,163
25,us,2019-01-25,0.96,0.04,0.0,166
26,us,2019-01-18,0.96,0.04,0.0,166
27,us,2019-01-11,0.97,0.03,0.0,165
28,us,2019-01-04,0.97,0.03,0.0,164
29,us,2018-12-28,0.98,0.02,0.0,157
...,...,...,...,...,...,...
104,us,2017-07-21,0.96,0.04,0.0,170
105,us,2017-07-14,0.97,0.03,0.0,173
106,us,2017-07-07,0.98,0.02,0.0,172
107,us,2017-06-30,0.98,0.02,0.0,170
108,us,2017-06-23,0.98,0.02,0.0,175
109,us,2017-06-16,0.98,0.02,0.0,175
110,us,2017-06-09,0.99,0.01,0.0,173
111,us,2017-06-02,0.99,0.01,0.0,177
112,us,2017-05-26,0.99,0.01,0.0,177
113,us,2017-05-19,0.99,0.01,0.0,178
114,us,2017-05-12,0.99,0.01,0.0,174
115,us,2017-05-05,0.99,0.01,0.0,177
116,us,2017-04-28,0.99,0.01,0.0,177
117,us,2017-04-21,1.00,0.00,0.0,179
118,us,2017-04-14,0.99,0.01,0.0,178
119,us,2017-04-07,0.99,0.01,0.0,177
120,us,2017-03-31,0.99,0.01,0.0,177
121,us,2017-03-24,0.99,0.01,0.0,171
122,us,2017-03-17,0.99,0.01,0.0,166
123,us,2017-03-10,0.99,0.01,0.0,164
124,us,2017-03-03,0.99,0.01,0.0,162
125,us,2017-02-24,0.99,0.01,0.0,166
126,us,2017-02-17,0.99,0.01,0.0,165
127,us,2017-02-10,0.99,0.01,0.0,168
128,us,2017-02-03,0.99,0.01,0.0,169
129,us,2017-01-27,0.99,0.01,0.0,170
130,us,2017-01-20,0.99,0.01,0.0,171
131,us,2017-01-13,0.99,0.01,0.0,171
132,us,2017-01-06,0.99,0.01,0.0,170
133,us,2016-12-30,0.99,0.01,0.0,173

In [ ]:
do = get_data('do')
do.sort_values(by=['week'], ascending=False)
do.head(200)

In [415]:
mx = get_data('mx')
mx.sort_values(by=['week'], ascending=False)
mx.head(200)

,country,week,english_percent,spanish_percent,german_percent,total_songs_found
0,mx,2019-07-19,0.18,0.82,0.0,175
1,mx,2019-07-12,0.17,0.83,0.0,176
2,mx,2019-07-05,0.18,0.82,0.0,179
3,mx,2019-06-28,0.21,0.79,0.0,177
4,mx,2019-06-21,0.20,0.80,0.0,177
5,mx,2019-06-14,0.22,0.78,0.0,176
6,mx,2019-06-07,0.21,0.79,0.0,178
7,mx,2019-05-31,0.19,0.81,0.0,176
8,mx,2019-05-24,0.22,0.78,0.0,174
9,mx,2019-05-17,0.21,0.79,0.0,175
10,mx,2019-05-10,0.21,0.79,0.0,173
11,mx,2019-05-03,0.20,0.80,0.0,174
12,mx,2019-04-26,0.21,0.79,0.0,173
13,mx,2019-04-19,0.20,0.80,0.0,171
14,mx,2019-04-12,0.24,0.76,0.0,174
15,mx,2019-04-05,0.25,0.75,0.0,176
16,mx,2019-03-29,0.23,0.77,0.0,176
17,mx,2019-03-22,0.23,0.77,0.0,174
18,mx,2019-03-15,0.24,0.76,0.0,174
19,mx,2019-03-08,0.24,0.76,0.0,170
20,mx,2019-03-01,0.24,0.76,0.0,173
21,mx,2019-02-22,0.23,0.77,0.0,173
22,mx,2019-02-15,0.29,0.71,0.0,177
23,mx,2019-02-08,0.25,0.75,0.0,177
24,mx,2019-02-01,0.25,0.75,0.0,177
25,mx,2019-01-25,0.26,0.74,0.0,177
26,mx,2019-01-18,0.25,0.75,0.0,175
27,mx,2019-01-11,0.25,0.75,0.0,174
28,mx,2019-01-04,0.19,0.81,0.0,178
29,mx,2018-12-28,0.21,0.79,0.0,178
...,...,...,...,...,...,...
104,mx,2017-07-21,0.36,0.64,0.0,169
105,mx,2017-07-14,0.39,0.61,0.0,173
106,mx,2017-07-07,0.40,0.60,0.0,175
107,mx,2017-06-30,0.41,0.59,0.0,175
108,mx,2017-06-23,0.40,0.60,0.0,173
109,mx,2017-06-16,0.40,0.60,0.0,175
110,mx,2017-06-09,0.41,0.59,0.0,175
111,mx,2017-06-02,0.43,0.57,0.0,175
112,mx,2017-05-26,0.44,0.56,0.0,176
113,mx,2017-05-19,0.43,0.57,0.0,177
114,mx,2017-05-12,0.42,0.58,0.0,177
115,mx,2017-05-05,0.43,0.57,0.0,175
116,mx,2017-04-28,0.42,0.58,0.0,176
117,mx,2017-04-21,0.42,0.58,0.0,175
118,mx,2017-04-14,0.42,0.58,0.0,175
119,mx,2017-04-07,0.42,0.58,0.0,178
120,mx,2017-03-31,0.41,0.59,0.0,181
121,mx,2017-03-24,0.40,0.60,0.0,181
122,mx,2017-03-17,0.40,0.60,0.0,179
123,mx,2017-03-10,0.43,0.57,0.0,181
124,mx,2017-03-03,0.40,0.60,0.0,180
125,mx,2017-02-24,0.41,0.59,0.0,180
126,mx,2017-02-17,0.40,0.60,0.0,180
127,mx,2017-02-10,0.40,0.60,0.0,179
128,mx,2017-02-03,0.41,0.59,0.0,179
129,mx,2017-01-27,0.43,0.57,0.0,180
130,mx,2017-01-20,0.45,0.55,0.0,182
131,mx,2017-01-13,0.46,0.54,0.0,184
132,mx,2017-01-06,0.46,0.54,0.0,183
133,mx,2016-12-30,0.45,0.55,0.0,181

In [416]:
cr = get_data('cr')
cr.sort_values(by=['week'], ascending=False)
cr.head(200)

,country,week,english_percent,spanish_percent,german_percent,total_songs_found
0,cr,2019-07-19,0.29,0.71,0.00,165
1,cr,2019-07-12,0.31,0.69,0.00,170
2,cr,2019-07-05,0.30,0.70,0.00,171
3,cr,2019-06-28,0.31,0.69,0.00,172
4,cr,2019-06-21,0.30,0.70,0.00,171
5,cr,2019-06-14,0.30,0.70,0.00,171
6,cr,2019-06-07,0.30,0.70,0.00,172
7,cr,2019-05-31,0.29,0.71,0.00,171
8,cr,2019-05-24,0.30,0.70,0.00,174
9,cr,2019-05-17,0.33,0.67,0.00,172
10,cr,2019-05-10,0.33,0.67,0.00,174
11,cr,2019-05-03,0.33,0.67,0.00,172
12,cr,2019-04-26,0.34,0.66,0.00,171
13,cr,2019-04-19,0.32,0.67,0.00,169
14,cr,2019-04-12,0.39,0.61,0.00,171
15,cr,2019-04-05,0.37,0.62,0.01,172
16,cr,2019-03-29,0.34,0.66,0.00,170
17,cr,2019-03-22,0.35,0.65,0.00,167
18,cr,2019-03-15,0.37,0.63,0.00,171
19,cr,2019-03-08,0.36,0.64,0.00,171
20,cr,2019-03-01,0.39,0.61,0.00,173
21,cr,2019-02-22,0.41,0.59,0.00,172
22,cr,2019-02-15,0.44,0.56,0.00,172
23,cr,2019-02-08,0.40,0.60,0.00,170
24,cr,2019-02-01,0.37,0.63,0.00,170
25,cr,2019-01-25,0.39,0.61,0.00,166
26,cr,2019-01-18,0.40,0.60,0.00,167
27,cr,2019-01-11,0.39,0.61,0.00,165
28,cr,2019-01-04,0.31,0.69,0.00,164
29,cr,2018-12-28,0.35,0.65,0.00,164
...,...,...,...,...,...,...
104,cr,2017-07-21,0.56,0.44,0.00,167
105,cr,2017-07-14,0.58,0.42,0.00,170
106,cr,2017-07-07,0.60,0.40,0.00,170
107,cr,2017-06-30,0.62,0.38,0.00,170
108,cr,2017-06-23,0.63,0.37,0.00,167
109,cr,2017-06-16,0.65,0.35,0.00,171
110,cr,2017-06-09,0.66,0.34,0.00,172
111,cr,2017-06-02,0.64,0.36,0.00,168
112,cr,2017-05-26,0.66,0.34,0.00,169
113,cr,2017-05-19,0.65,0.35,0.00,170
114,cr,2017-05-12,0.65,0.35,0.00,169
115,cr,2017-05-05,0.65,0.35,0.00,168
116,cr,2017-04-28,0.68,0.32,0.00,170
117,cr,2017-04-21,0.67,0.33,0.00,171
118,cr,2017-04-14,0.66,0.34,0.00,168
119,cr,2017-04-07,0.68,0.32,0.00,170
120,cr,2017-03-31,0.69,0.31,0.00,172
121,cr,2017-03-24,0.71,0.29,0.00,174
122,cr,2017-03-17,0.68,0.32,0.00,172
123,cr,2017-03-10,0.69,0.31,0.00,173
124,cr,2017-03-03,0.67,0.33,0.00,173
125,cr,2017-02-24,0.66,0.34,0.00,174
126,cr,2017-02-17,0.66,0.34,0.00,173
127,cr,2017-02-10,0.65,0.35,0.00,172
128,cr,2017-02-03,0.67,0.33,0.00,171
129,cr,2017-01-27,0.69,0.31,0.00,169
130,cr,2017-01-20,0.68,0.32,0.00,168
131,cr,2017-01-13,0.71,0.29,0.00,170
132,cr,2017-01-06,0.66,0.34,0.00,168
133,cr,2016-12-30,0.68,0.32,0.00,164

In [417]:
ar = get_data('ar')
ar.sort_values(by=['week'], ascending=False)
ar.head(200)

,country,week,english_percent,spanish_percent,german_percent,total_songs_found
0,ar,2019-07-19,0.14,0.86,0.0,162
1,ar,2019-07-12,0.14,0.85,0.0,162
2,ar,2019-07-05,0.14,0.86,0.0,166
3,ar,2019-06-28,0.17,0.83,0.0,167
4,ar,2019-06-21,0.15,0.85,0.0,169
5,ar,2019-06-14,0.14,0.86,0.0,168
6,ar,2019-06-07,0.16,0.84,0.0,168
7,ar,2019-05-31,0.15,0.85,0.0,168
8,ar,2019-05-24,0.16,0.84,0.0,167
9,ar,2019-05-17,0.17,0.83,0.0,167
10,ar,2019-05-10,0.19,0.81,0.0,165
11,ar,2019-05-03,0.20,0.80,0.0,164
12,ar,2019-04-26,0.20,0.80,0.0,161
13,ar,2019-04-19,0.19,0.80,0.0,161
14,ar,2019-04-12,0.21,0.79,0.0,165
15,ar,2019-04-05,0.22,0.78,0.0,165
16,ar,2019-03-29,0.18,0.82,0.0,163
17,ar,2019-03-22,0.20,0.80,0.0,162
18,ar,2019-03-15,0.22,0.78,0.0,162
19,ar,2019-03-08,0.21,0.79,0.0,160
20,ar,2019-03-01,0.23,0.77,0.0,164
21,ar,2019-02-22,0.23,0.77,0.0,164
22,ar,2019-02-15,0.26,0.74,0.0,164
23,ar,2019-02-08,0.19,0.81,0.0,163
24,ar,2019-02-01,0.19,0.81,0.0,161
25,ar,2019-01-25,0.17,0.82,0.0,160
26,ar,2019-01-18,0.16,0.84,0.0,158
27,ar,2019-01-11,0.15,0.85,0.0,158
28,ar,2019-01-04,0.12,0.88,0.0,163
29,ar,2018-12-28,0.13,0.87,0.0,164
...,...,...,...,...,...,...
104,ar,2017-07-21,0.28,0.71,0.0,162
105,ar,2017-07-14,0.31,0.68,0.0,165
106,ar,2017-07-07,0.32,0.67,0.0,166
107,ar,2017-06-30,0.37,0.62,0.0,168
108,ar,2017-06-23,0.37,0.62,0.0,167
109,ar,2017-06-16,0.37,0.62,0.0,169
110,ar,2017-06-09,0.38,0.61,0.0,171
111,ar,2017-06-02,0.41,0.59,0.0,172
112,ar,2017-05-26,0.39,0.60,0.0,170
113,ar,2017-05-19,0.40,0.59,0.0,171
114,ar,2017-05-12,0.37,0.62,0.0,172
115,ar,2017-05-05,0.36,0.63,0.0,168
116,ar,2017-04-28,0.38,0.62,0.0,168
117,ar,2017-04-21,0.37,0.63,0.0,169
118,ar,2017-04-14,0.38,0.62,0.0,169
119,ar,2017-04-07,0.37,0.62,0.0,169
120,ar,2017-03-31,0.36,0.64,0.0,169
121,ar,2017-03-24,0.37,0.62,0.0,170
122,ar,2017-03-17,0.37,0.62,0.0,173
123,ar,2017-03-10,0.41,0.58,0.0,173
124,ar,2017-03-03,0.34,0.66,0.0,173
125,ar,2017-02-24,0.33,0.66,0.0,174
126,ar,2017-02-17,0.33,0.66,0.0,173
127,ar,2017-02-10,0.30,0.70,0.0,174
128,ar,2017-02-03,0.31,0.69,0.0,173
129,ar,2017-01-27,0.31,0.69,0.0,169
130,ar,2017-01-20,0.33,0.67,0.0,169
131,ar,2017-01-13,0.34,0.66,0.0,168
132,ar,2017-01-06,0.32,0.68,0.0,169
133,ar,2016-12-30,0.31,0.69,0.0,167

In [418]:
gt = get_data('gt')
gt.sort_values(by=['week'], ascending=False)
gt.head(200)

,country,week,english_percent,spanish_percent,german_percent,total_songs_found
0,gt,2019-07-19,0.15,0.85,0.0,175
1,gt,2019-07-12,0.15,0.85,0.0,176
2,gt,2019-07-05,0.15,0.85,0.0,177
3,gt,2019-06-28,0.18,0.82,0.0,177
4,gt,2019-06-21,0.18,0.82,0.0,174
5,gt,2019-06-14,0.20,0.80,0.0,172
6,gt,2019-06-07,0.17,0.83,0.0,173
7,gt,2019-05-31,0.19,0.81,0.0,172
8,gt,2019-05-24,0.19,0.81,0.0,175
9,gt,2019-05-17,0.20,0.80,0.0,175
10,gt,2019-05-10,0.18,0.82,0.0,173
11,gt,2019-05-03,0.19,0.81,0.0,172
12,gt,2019-04-26,0.20,0.80,0.0,171
13,gt,2019-04-19,0.18,0.81,0.0,172
14,gt,2019-04-12,0.19,0.81,0.0,172
15,gt,2019-04-05,0.21,0.79,0.0,175
16,gt,2019-03-29,0.20,0.80,0.0,175
17,gt,2019-03-22,0.20,0.80,0.0,173
18,gt,2019-03-15,0.22,0.78,0.0,175
19,gt,2019-03-08,0.23,0.77,0.0,174
20,gt,2019-03-01,0.23,0.77,0.0,175
21,gt,2019-02-22,0.23,0.77,0.0,176
22,gt,2019-02-15,0.30,0.70,0.0,175
23,gt,2019-02-08,0.26,0.74,0.0,174
24,gt,2019-02-01,0.23,0.77,0.0,171
25,gt,2019-01-25,0.26,0.74,0.0,172
26,gt,2019-01-18,0.24,0.76,0.0,173
27,gt,2019-01-11,0.24,0.76,0.0,172
28,gt,2019-01-04,0.19,0.81,0.0,171
29,gt,2018-12-28,0.19,0.81,0.0,170
...,...,...,...,...,...,...
104,gt,2017-07-21,0.42,0.58,0.0,165
105,gt,2017-07-14,0.42,0.58,0.0,168
106,gt,2017-07-07,0.45,0.55,0.0,170
107,gt,2017-06-30,0.44,0.56,0.0,169
108,gt,2017-06-23,0.46,0.54,0.0,169
109,gt,2017-06-16,0.46,0.54,0.0,173
110,gt,2017-06-09,0.47,0.53,0.0,171
111,gt,2017-06-02,0.48,0.52,0.0,172
112,gt,2017-05-26,0.50,0.50,0.0,173
113,gt,2017-05-19,0.46,0.54,0.0,170
114,gt,2017-05-12,0.46,0.54,0.0,171
115,gt,2017-05-05,0.43,0.57,0.0,173
116,gt,2017-04-28,0.46,0.54,0.0,173
117,gt,2017-04-21,0.46,0.54,0.0,171
118,gt,2017-04-14,0.46,0.54,0.0,169
119,gt,2017-04-07,0.49,0.51,0.0,170
120,gt,2017-03-31,0.51,0.49,0.0,171
121,gt,2017-03-24,0.51,0.49,0.0,171
122,gt,2017-03-17,0.51,0.49,0.0,173
123,gt,2017-03-10,0.52,0.48,0.0,174
124,gt,2017-03-03,0.50,0.50,0.0,171
125,gt,2017-02-24,0.50,0.50,0.0,171
126,gt,2017-02-17,0.50,0.50,0.0,173
127,gt,2017-02-10,0.51,0.49,0.0,174
128,gt,2017-02-03,0.52,0.48,0.0,174
129,gt,2017-01-27,0.52,0.48,0.0,171
130,gt,2017-01-20,0.54,0.46,0.0,176
131,gt,2017-01-13,0.55,0.45,0.0,175
132,gt,2017-01-06,0.52,0.48,0.0,172
133,gt,2016-12-30,0.52,0.48,0.0,171

In [419]:
co = get_data('co')
co.sort_values(by=['week'], ascending=False)
co.head(200)

data/co/co_2017-02-24--2017-03-03.csv

,country,week,english_percent,spanish_percent,german_percent,total_songs_found
0,co,2019-07-19,0.17,0.83,0.0,168
1,co,2019-07-12,0.15,0.85,0.0,168
2,co,2019-07-05,0.12,0.88,0.0,168
3,co,2019-06-28,0.14,0.86,0.0,167
4,co,2019-06-21,0.15,0.85,0.0,169
5,co,2019-06-14,0.15,0.85,0.0,170
6,co,2019-06-07,0.13,0.87,0.0,168
7,co,2019-05-31,0.16,0.84,0.0,167
8,co,2019-05-24,0.17,0.83,0.0,165
9,co,2019-05-17,0.18,0.82,0.0,169
10,co,2019-05-10,0.18,0.82,0.0,169
11,co,2019-05-03,0.20,0.80,0.0,171
12,co,2019-04-26,0.22,0.78,0.0,169
13,co,2019-04-19,0.20,0.78,0.0,167
14,co,2019-04-12,0.25,0.75,0.0,168
15,co,2019-04-05,0.25,0.75,0.0,170
16,co,2019-03-29,0.21,0.79,0.0,168
17,co,2019-03-22,0.23,0.77,0.0,168
18,co,2019-03-15,0.23,0.77,0.0,170
19,co,2019-03-08,0.22,0.78,0.0,171
20,co,2019-03-01,0.22,0.78,0.0,170
21,co,2019-02-22,0.24,0.76,0.0,172
22,co,2019-02-15,0.27,0.73,0.0,171
23,co,2019-02-08,0.24,0.76,0.0,170
24,co,2019-02-01,0.22,0.78,0.0,166
25,co,2019-01-25,0.21,0.79,0.0,164
26,co,2019-01-18,0.23,0.77,0.0,164
27,co,2019-01-11,0.20,0.80,0.0,166
28,co,2019-01-04,0.15,0.85,0.0,162
29,co,2018-12-28,0.16,0.84,0.0,164
...,...,...,...,...,...,...
103,co,2017-07-28,0.46,0.54,0.0,166
104,co,2017-07-21,0.43,0.57,0.0,161
105,co,2017-07-14,0.45,0.55,0.0,166
106,co,2017-07-07,0.44,0.56,0.0,168
107,co,2017-06-30,0.47,0.53,0.0,167
108,co,2017-06-23,0.44,0.56,0.0,165
109,co,2017-06-16,0.47,0.53,0.0,172
110,co,2017-06-09,0.47,0.53,0.0,171
111,co,2017-06-02,0.46,0.54,0.0,171
112,co,2017-05-26,0.47,0.53,0.0,173
113,co,2017-05-19,0.45,0.55,0.0,174
114,co,2017-05-12,0.47,0.53,0.0,174
115,co,2017-05-05,0.48,0.52,0.0,173
116,co,2017-04-28,0.47,0.53,0.0,173
117,co,2017-04-21,0.47,0.53,0.0,173
118,co,2017-04-14,0.48,0.52,0.0,171
119,co,2017-04-07,0.49,0.51,0.0,173
120,co,2017-03-31,0.49,0.51,0.0,176
121,co,2017-03-24,0.48,0.52,0.0,173
122,co,2017-03-17,0.50,0.50,0.0,173
123,co,2017-03-10,0.53,0.47,0.0,175
124,co,2017-02-24,0.49,0.51,0.0,171
125,co,2017-02-17,0.47,0.53,0.0,169
126,co,2017-02-10,0.45,0.55,0.0,168
127,co,2017-02-03,0.49,0.51,0.0,171
128,co,2017-01-27,0.49,0.51,0.0,171
129,co,2017-01-20,0.53,0.47,0.0,174
130,co,2017-01-13,0.52,0.48,0.0,176
131,co,2017-01-06,0.48,0.52,0.0,174
132,co,2016-12-30,0.46,0.54,0.0,173

In [420]:
es = get_data('es')
es.sort_values(by=['week'], ascending=False)
es.head(200)

,country,week,english_percent,spanish_percent,german_percent,total_songs_found
0,es,2019-07-19,0.13,0.86,0.0,170
1,es,2019-07-12,0.13,0.86,0.0,173
2,es,2019-07-05,0.14,0.85,0.0,177
3,es,2019-06-28,0.14,0.85,0.0,172
4,es,2019-06-21,0.15,0.84,0.0,174
5,es,2019-06-14,0.16,0.84,0.0,172
6,es,2019-06-07,0.18,0.81,0.0,172
7,es,2019-05-31,0.18,0.81,0.0,173
8,es,2019-05-24,0.21,0.79,0.0,170
9,es,2019-05-17,0.20,0.80,0.0,171
10,es,2019-05-10,0.20,0.80,0.0,169
11,es,2019-05-03,0.17,0.83,0.0,169
12,es,2019-04-26,0.19,0.81,0.0,170
13,es,2019-04-19,0.19,0.81,0.0,166
14,es,2019-04-12,0.22,0.78,0.0,169
15,es,2019-04-05,0.24,0.76,0.0,168
16,es,2019-03-29,0.21,0.79,0.0,170
17,es,2019-03-22,0.24,0.76,0.0,169
18,es,2019-03-15,0.24,0.76,0.0,170
19,es,2019-03-08,0.21,0.79,0.0,169
20,es,2019-03-01,0.22,0.78,0.0,171
21,es,2019-02-22,0.22,0.78,0.0,171
22,es,2019-02-15,0.27,0.73,0.0,171
23,es,2019-02-08,0.24,0.76,0.0,169
24,es,2019-02-01,0.25,0.75,0.0,169
25,es,2019-01-25,0.26,0.74,0.0,168
26,es,2019-01-18,0.26,0.74,0.0,168
27,es,2019-01-11,0.24,0.76,0.0,169
28,es,2019-01-04,0.23,0.77,0.0,168
29,es,2018-12-28,0.30,0.70,0.0,166
...,...,...,...,...,...,...
104,es,2017-07-21,0.38,0.62,0.0,162
105,es,2017-07-14,0.41,0.59,0.0,167
106,es,2017-07-07,0.39,0.61,0.0,166
107,es,2017-06-30,0.42,0.58,0.0,165
108,es,2017-06-23,0.42,0.58,0.0,167
109,es,2017-06-16,0.44,0.56,0.0,170
110,es,2017-06-09,0.46,0.54,0.0,169
111,es,2017-06-02,0.45,0.54,0.0,171
112,es,2017-05-26,0.47,0.52,0.0,171
113,es,2017-05-19,0.49,0.50,0.0,171
114,es,2017-05-12,0.47,0.53,0.0,172
115,es,2017-05-05,0.47,0.53,0.0,172
116,es,2017-04-28,0.47,0.53,0.0,171
117,es,2017-04-21,0.48,0.52,0.0,170
118,es,2017-04-14,0.49,0.51,0.0,169
119,es,2017-04-07,0.47,0.53,0.0,169
120,es,2017-03-31,0.49,0.51,0.0,170
121,es,2017-03-24,0.50,0.50,0.0,170
122,es,2017-03-17,0.47,0.53,0.0,172
123,es,2017-03-10,0.51,0.49,0.0,170
124,es,2017-03-03,0.50,0.50,0.0,169
125,es,2017-02-24,0.51,0.49,0.0,173
126,es,2017-02-17,0.49,0.51,0.0,173
127,es,2017-02-10,0.49,0.51,0.0,172
128,es,2017-02-03,0.49,0.51,0.0,171
129,es,2017-01-27,0.50,0.50,0.0,170
130,es,2017-01-20,0.49,0.51,0.0,173
131,es,2017-01-13,0.47,0.53,0.0,171
132,es,2017-01-06,0.47,0.53,0.0,171
133,es,2016-12-30,0.50,0.50,0.0,170

In [421]:
de = get_data('de')
de.sort_values(by=['week'], ascending=False)
de.head(200)

,country,week,english_percent,spanish_percent,german_percent,total_songs_found
0,de,2019-07-19,0.42,0.03,0.54,117
1,de,2019-07-12,0.48,0.05,0.47,126
2,de,2019-07-05,0.45,0.05,0.49,130
3,de,2019-06-28,0.44,0.04,0.51,138
4,de,2019-06-21,0.43,0.04,0.52,136
5,de,2019-06-14,0.48,0.03,0.49,134
6,de,2019-06-07,0.49,0.03,0.47,138
7,de,2019-05-31,0.46,0.02,0.51,139
8,de,2019-05-24,0.49,0.02,0.48,138
9,de,2019-05-17,0.55,0.02,0.43,133
10,de,2019-05-10,0.52,0.02,0.46,131
11,de,2019-05-03,0.53,0.03,0.44,127
12,de,2019-04-26,0.49,0.03,0.48,135
13,de,2019-04-19,0.53,0.03,0.44,131
14,de,2019-04-12,0.57,0.03,0.39,128
15,de,2019-04-05,0.56,0.03,0.40,124
16,de,2019-03-29,0.53,0.03,0.42,122
17,de,2019-03-22,0.57,0.03,0.39,124
18,de,2019-03-15,0.56,0.03,0.40,126
19,de,2019-03-08,0.57,0.03,0.39,127
20,de,2019-03-01,0.60,0.03,0.36,128
21,de,2019-02-22,0.62,0.03,0.34,132
22,de,2019-02-15,0.60,0.03,0.36,136
23,de,2019-02-08,0.58,0.03,0.37,130
24,de,2019-02-01,0.60,0.02,0.35,129
25,de,2019-01-25,0.62,0.02,0.35,129
26,de,2019-01-18,0.63,0.01,0.35,134
27,de,2019-01-11,0.64,0.01,0.34,137
28,de,2019-01-04,0.66,0.01,0.32,134
29,de,2018-12-28,0.75,0.01,0.23,133
...,...,...,...,...,...,...
104,de,2017-07-21,0.60,0.04,0.35,155
105,de,2017-07-14,0.63,0.04,0.33,158
106,de,2017-07-07,0.64,0.04,0.32,162
107,de,2017-06-30,0.62,0.03,0.34,162
108,de,2017-06-23,0.57,0.03,0.39,159
109,de,2017-06-16,0.60,0.03,0.37,157
110,de,2017-06-09,0.61,0.03,0.35,153
111,de,2017-06-02,0.66,0.03,0.31,156
112,de,2017-05-26,0.72,0.03,0.25,158
113,de,2017-05-19,0.72,0.03,0.25,159
114,de,2017-05-12,0.74,0.03,0.23,153
115,de,2017-05-05,0.69,0.03,0.29,156
116,de,2017-04-28,0.74,0.02,0.24,161
117,de,2017-04-21,0.78,0.01,0.21,160
118,de,2017-04-14,0.78,0.02,0.20,161
119,de,2017-04-07,0.79,0.02,0.19,158
120,de,2017-03-31,0.78,0.01,0.21,157
121,de,2017-03-24,0.84,0.02,0.14,166
122,de,2017-03-17,0.80,0.02,0.18,162
123,de,2017-03-10,0.81,0.01,0.17,161
124,de,2017-03-03,0.78,0.02,0.20,158
125,de,2017-02-24,0.78,0.01,0.20,158
126,de,2017-02-17,0.79,0.01,0.21,154
127,de,2017-02-10,0.82,0.01,0.18,148
128,de,2017-02-03,0.84,0.01,0.15,150
129,de,2017-01-27,0.85,0.01,0.14,142
130,de,2017-01-20,0.86,0.01,0.13,143
131,de,2017-01-13,0.86,0.01,0.13,138
132,de,2017-01-06,0.87,0.01,0.12,135
133,de,2016-12-30,0.88,0.01,0.11,149

In [422]:
glbl = get_data('global')
glbl.sort_values(by=['week'], ascending=False)
glbl.head(200)

data/global/global_2017-06-02--2017-06-09.csv
data/global/global_2017-05-26--2017-06-02.csv

,country,week,english_percent,spanish_percent,german_percent,total_songs_found
0,gl,2019-07-19,0.79,0.18,0.01,157
1,gl,2019-07-12,0.79,0.18,0.01,163
2,gl,2019-07-05,0.76,0.23,0.01,164
3,gl,2019-06-28,0.81,0.18,0.01,168
4,gl,2019-06-21,0.80,0.19,0.01,165
5,gl,2019-06-14,0.78,0.18,0.02,166
6,gl,2019-06-07,0.81,0.18,0.01,167
7,gl,2019-05-31,0.80,0.18,0.01,168
8,gl,2019-05-24,0.82,0.15,0.02,168
9,gl,2019-05-17,0.82,0.18,0.00,170
10,gl,2019-05-10,0.83,0.17,0.00,172
11,gl,2019-05-03,0.82,0.16,0.00,170
12,gl,2019-04-26,0.83,0.16,0.00,168
13,gl,2019-04-19,0.80,0.17,0.01,167
14,gl,2019-04-12,0.79,0.15,0.02,171
15,gl,2019-04-05,0.79,0.19,0.02,166
16,gl,2019-03-29,0.78,0.18,0.03,168
17,gl,2019-03-22,0.81,0.17,0.02,167
18,gl,2019-03-15,0.84,0.16,0.00,168
19,gl,2019-03-08,0.81,0.19,0.00,166
20,gl,2019-03-01,0.81,0.17,0.01,168
21,gl,2019-02-22,0.84,0.15,0.01,172
22,gl,2019-02-15,0.84,0.14,0.01,170
23,gl,2019-02-08,0.84,0.15,0.00,166
24,gl,2019-02-01,0.83,0.15,0.00,163
25,gl,2019-01-25,0.84,0.15,0.00,164
26,gl,2019-01-18,0.82,0.16,0.01,168
27,gl,2019-01-11,0.84,0.14,0.01,170
28,gl,2019-01-04,0.79,0.16,0.01,170
29,gl,2018-12-28,0.88,0.10,0.01,163
...,...,...,...,...,...,...
102,gl,2017-08-04,0.84,0.16,0.00,174
103,gl,2017-07-28,0.86,0.14,0.00,168
104,gl,2017-07-21,0.85,0.15,0.00,171
105,gl,2017-07-14,0.85,0.15,0.00,175
106,gl,2017-07-07,0.85,0.15,0.00,176
107,gl,2017-06-30,0.85,0.15,0.00,175
108,gl,2017-06-23,0.86,0.14,0.00,176
109,gl,2017-06-16,0.85,0.15,0.00,179
110,gl,2017-05-26,0.87,0.13,0.00,184
111,gl,2017-05-19,0.87,0.13,0.00,182
112,gl,2017-05-12,0.88,0.12,0.00,179
113,gl,2017-05-05,0.87,0.13,0.00,179
114,gl,2017-04-28,0.87,0.13,0.00,177
115,gl,2017-04-21,0.88,0.12,0.00,177
116,gl,2017-04-14,0.88,0.12,0.00,177
117,gl,2017-04-07,0.89,0.11,0.00,177
118,gl,2017-03-31,0.90,0.10,0.00,177
119,gl,2017-03-24,0.89,0.10,0.00,176
120,gl,2017-03-17,0.89,0.11,0.00,170
121,gl,2017-03-10,0.90,0.10,0.00,171
122,gl,2017-03-03,0.89,0.11,0.00,170
123,gl,2017-02-24,0.90,0.10,0.00,169
124,gl,2017-02-17,0.91,0.09,0.00,171
125,gl,2017-02-10,0.91,0.09,0.00,173
126,gl,2017-02-03,0.91,0.09,0.00,174
127,gl,2017-01-27,0.91,0.09,0.00,173
128,gl,2017-01-20,0.91,0.08,0.00,171
129,gl,2017-01-13,0.92,0.07,0.00,174
130,gl,2017-01-06,0.91,0.09,0.00,175
131,gl,2016-12-30,0.92,0.08,0.00,170

In [423]:
# takes a list of results for different countries and averages the percents for each week

def get_all_data(countries):
    
    week = []
    english_percent = []
    spanish_percent = []
    german_percent = []
    
     #find last friday date
    last_friday= datetime.now() + relativedelta(weekday=FR(-1))

    if (datetime.now().strftime('%Y-%m-%d') == last_friday.strftime('%Y-%m-%d')):
        last_friday = datetime.now() + relativedelta(weekday=FR(-1))

    newer_date = last_friday
    older_date = newer_date - timedelta(days=7)
    oldest_date = datetime(2016, 12, 23) 
    
    # go back through every week until we reach the end of available data
    while (newer_date > oldest_date):
      
        newer_str = newer_date.strftime('%Y-%m-%d')
        older_str = older_date.strftime('%Y-%m-%d')
        newer_date = older_date
        older_date = newer_date - timedelta(days=7)
        
        week_english_percents = []
        week_spanish_percents = []
        week_german_percents = []
        
        eng_res = []
        sp_res = []
        ger_res = []
        
        # go through each country and add percent for this week to a list
        for c in countries:
            cur_week_row = c.loc[c['week'] == newer_str]
            if (len( cur_week_row) == 1):
                week_english_percents.append(cur_week_row['english_percent'].values)
                week_spanish_percents.append(cur_week_row['spanish_percent'].values)
                week_german_percents.append(cur_week_row['german_percent'].values)
        
        # calculate averages for all countries in this list
        if (len(week_english_percents) > 0):
            eng_res = reduce(lambda x, y: x + y, week_english_percents) / len(week_english_percents)
            sp_res = reduce(lambda x, y: x + y, week_spanish_percents) / len(week_spanish_percents)
            ger_res = reduce(lambda x, y: x + y, week_german_percents) / len(week_german_percents)
        
        if(len(eng_res) == 1):
            week.append(newer_str)
            english_percent.append(eng_res[0])
            spanish_percent.append(sp_res[0])
            german_percent.append(ger_res[0])
            
    # create and return our final data structure    
    data = pd.DataFrame(
        {
         'week': week,
         "english_percent": english_percent,
         "spanish_percent": spanish_percent,
         "german_percent": german_percent,
        })

    return data

In [424]:
all_countries = get_all_data([mx,gt,ar,do,co,es])
all_countries.to_csv("data/all_countries.csv")
all_countries.head(200)

           week  english_percent  spanish_percent  german_percent
0    2019-07-19         0.145000         0.853333             0.0
1    2019-07-12         0.140000         0.855000             0.0
2    2019-07-05         0.140000         0.858333             0.0
3    2019-06-28         0.160000         0.838333             0.0
4    2019-06-21         0.155000         0.843333             0.0
..          ...              ...              ...             ...
129  2017-01-27         0.453333         0.546667             0.0
130  2017-01-20         0.470000         0.530000             0.0
131  2017-01-13         0.470000         0.530000             0.0
132  2017-01-06         0.450000         0.550000             0.0
133  2016-12-30         0.453333         0.546667             0.0

[134 rows x 4 columns]

In [394]:
# Create a trace
trace = go.Scatter(
    x = us['week'],
    y = us['spanish_percent'],
    name='Spanish Percent',
)

xi = arange(0,len(us))

# Generated linear fit
slope, intercept, r_value, p_value, std_err = stats.linregress(xi,us['spanish_percent'])
line = slope*xi+intercept

trace2 = go.Scatter(
                  x=us['week'],
                  y=line,
                  mode='lines',
                  marker=go.Marker(color='rgb(31, 119, 180)'),
                  name='Spanish Fit',
                  line = dict(
                    color = ('rgb(205, 12, 24)'),
                    width = 2
                  )
                )

data = [trace, trace2]

layout = dict(title = 'Percent of Spanish songs in Spotifys US weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [395]:
# Create a trace
trace = go.Scatter(
    x = de['week'],
    y = de['spanish_percent'],
    name='Spanish Percent',
)

# Create a trace
trace2 = go.Scatter(
    x = de['week'],
    y = de['german_percent'],
    name='German Percent',
    line = dict(
        color = ('green'),
        width = 2
      )
)

xi = arange(0,len(de))

# Generated linear fit
slope, intercept, r_value, p_value, std_err = stats.linregress(xi,de['german_percent'])
line = slope*xi+intercept

trace3 = go.Scatter(
                  x=de['week'],
                  y=line,
                  mode='lines',
                  marker=go.Marker(color='rgb(31, 119, 180)'),
                  name='German Fit',
                  line = dict(
                    color = ('rgb(205, 12, 24)'),
                    width = 2
                  )
                )

data = [trace, trace2, trace3]

layout = dict(title = 'Percent of Songs in Spotifys Germanys weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [396]:
# Create a trace
trace = go.Scatter(
    x = do['week'],
    y = do['spanish_percent'],
    name='Spanish Percent',
)

xi = arange(0,len(do))

# Generated linear fit
slope, intercept, r_value, p_value, std_err = stats.linregress(xi,do['spanish_percent'])
line = slope*xi+intercept

trace2 = go.Scatter(
                  x=do['week'],
                  y=line,
                  mode='lines',
                  marker=go.Marker(color='rgb(31, 119, 180)'),
                  name='Spanish Fit',
                  line = dict(
                    color = ('rgb(205, 12, 24)'),
                    width = 2
                  )
                )

data = [trace, trace2]

layout = dict(title = 'Percent of Spanish songs in Spotifys Dominican Republic weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [397]:
# Create a trace
trace = go.Scatter(
    x = co['week'],
    y = co['spanish_percent'],
    name='Spanish Percent',
)

xi = arange(0,len(co))

# Generated linear fit
slope, intercept, r_value, p_value, std_err = stats.linregress(xi,co['spanish_percent'])
line = slope*xi+intercept

trace2 = go.Scatter(
                  x=co['week'],
                  y=line,
                  mode='lines',
                  marker=go.Marker(color='rgb(31, 119, 180)'),
                  name='Spanish Fit',
                  line = dict(
                    color = ('rgb(205, 12, 24)'),
                    width = 2
                  )
                )

data = [trace, trace2]

layout = dict(title = 'Percent of Spanish songs in Spotifys Colombia weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [398]:
# Create a trace
trace = go.Scatter(
    x = mx['week'],
    y = mx['spanish_percent'],
    name='Spanish Percent',
)

xi = arange(0,len(mx))

# Generated linear fit
slope, intercept, r_value, p_value, std_err = stats.linregress(xi,mx['spanish_percent'])
line = slope*xi+intercept

trace2 = go.Scatter(
                  x=mx['week'],
                  y=line,
                  mode='lines',
                  marker=go.Marker(color='rgb(31, 119, 180)'),
                  name='Spanish Fit',
                  line = dict(
                    color = ('rgb(205, 12, 24)'),
                    width = 2
                  )
                )

data = [trace, trace2]

layout = dict(title = 'Percent of Spanish songs in Spotifys Mexico weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [399]:
# Create a trace
trace = go.Scatter(
    x = ar['week'],
    y = ar['spanish_percent'],
    name='Spanish Percent',
)

xi = arange(0,len(ar))

# Generated linear fit
slope, intercept, r_value, p_value, std_err = stats.linregress(xi,ar['spanish_percent'])
line = slope*xi+intercept

trace2 = go.Scatter(
                  x=ar['week'],
                  y=line,
                  mode='lines',
                  marker=go.Marker(color='rgb(31, 119, 180)'),
                  name='Spanish Fit',
                  line = dict(
                    color = ('rgb(205, 12, 24)'),
                    width = 2
                  )
                )

data = [trace, trace2]

layout = dict(title = 'Percent of Spanish songs in Spotifys Argentina weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [400]:
# Create a trace
trace = go.Scatter(
    x = gt['week'],
    y = gt['spanish_percent'],
    name='Spanish Percent',
)

xi = arange(0,len(gt))

# Generated linear fit
slope, intercept, r_value, p_value, std_err = stats.linregress(xi,gt['spanish_percent'])
line = slope*xi+intercept

trace2 = go.Scatter(
                  x=gt['week'],
                  y=line,
                  mode='lines',
                  marker=go.Marker(color='rgb(31, 119, 180)'),
                  name='Spanish Fit',
                  line = dict(
                    color = ('rgb(205, 12, 24)'),
                    width = 2
                  )
                )

data = [trace, trace2]

layout = dict(title = 'Percent of Spanish songs in Spotifys Guatemala weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [401]:
# Create a trace
trace = go.Scatter(
    x = es['week'],
    y = es['spanish_percent'],
    name='Spanish Percent',
)

xi = arange(0,len(es))

# Generated linear fit
slope, intercept, r_value, p_value, std_err = stats.linregress(xi,es['spanish_percent'])
line = slope*xi+intercept

trace2 = go.Scatter(
                  x=es['week'],
                  y=line,
                  mode='lines',
                  marker=go.Marker(color='rgb(31, 119, 180)'),
                  name='Spanish Fit',
                  line = dict(
                    color = ('rgb(205, 12, 24)'),
                    width = 2
                  )
                )

data = [trace, trace2]

layout = dict(title = 'Percent of Spanish songs in Spains weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [402]:
# Create a trace
trace = go.Scatter(
    x = glbl['week'],
    y = glbl['spanish_percent'],
    name='Spanish Percent',
)

# Create a trace
trace2 = go.Scatter(
    x = glbl['week'],
    y = glbl['german_percent'],
    name='German Percent',
)

xi = arange(0,len(glbl))

# Generated linear fit
slope, intercept, r_value, p_value, std_err = stats.linregress(xi,glbl['spanish_percent'])
line = slope*xi+intercept

trace3 = go.Scatter(
                  x=glbl['week'],
                  y=line,
                  mode='lines',
                  marker=go.Marker(color='rgb(31, 119, 180)'),
                  name='Spanish Fit',
                  line = dict(
                    color = ('rgb(205, 12, 24)'),
                    width = 2
                  )
                )

data = [trace, trace2, trace3]

layout = dict(title = 'Percent of Spanish songs in Spotifys Global weekly top 200 Chart',
              xaxis = dict(title = 'Week'),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'

In [425]:
# Create a trace
trace = go.Scatter(
    x = all_countries['week'],
    y = all_countries['spanish_percent'],
    name='Spanish Percent',
)

xi = arange(0,len(all_countries))

# Generated linear fit
slope, intercept, r_value, p_value, std_err = stats.linregress(xi,all_countries['spanish_percent'])
line = slope*xi+intercept

trace2 = go.Scatter(
                  x=all_countries['week'],
                  y=line,
                  mode='lines',
                  marker=go.Marker(color='rgb(31, 119, 180)'),
                  name='Fit',
                  line = dict(
                    color = ('rgb(205, 12, 24)'),
                    width = 2)
                  )

data = [trace, trace2]

layout = dict(title = 'Percent of Spanish songs in Spotifys Combined Spanish Speaking Countries weekly top 200 Chart',
              xaxis = dict(title = ''),
              yaxis = dict(title = 'Percent of Spanish songs', tickformat = '.0%'),
              )

fig = dict(data=data, layout=layout)
py.iplot(figure_or_data=fig, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jagluck/0 or inside your plot.ly account where it is named 'basic-line'